	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">Sign up with <img src="https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/no_plate_white.png" height="30" style="margin-bottom: 5px;"></h1>
			<hr>
		</div>
	</div>
	<form class="form-horizontal" role="form" id="sign-up-form" method="post" action="<%= registration_path(resource_name) %>">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<%= render 'shared/error_messages' %>
				<%= devise_error_messages! %>
			</div>
		</div>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-10">
				<input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-5">
				<input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
			</div>
			<div class="col-sm-5">
				<input type="password" class="form-control move" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Confirm Password">
			</div>
		</div>

		<input name="user[remember_me]" type="hidden" value="1">

		<div class="row" style="margin-top: 25px">
			<div class="col-xs-12">
				<button class="btn btn-success col-xs-10 col-xs-offset-1" type="submit">Create Your Account<i class="fa fa-chevron-right" style="margin-left: 20px; font-size: 12px;"></i></button>
			</div>
		</div>

		<div class="row" style="margin-top: 25px">
			<div class="col-xs-12 text-center">
				<h6>By signing up, you agree to our <a href="https://dishgo.io/terms-conditions.html" rel="nofollow" style="color: #cf2f28;">terms and conditions</a></h6>
				<%= render "devise/shared/sign_up_links" %>
			</div>
		</div>
	</form>
