	<div class="row">
		<div class="sign-up-bread">
			<ol class="breadcrumb" id="bread">
				<li class="active">Create Your Account</li>
				<li><a >List Your Restaurant</a></li>
				<li><a href="start.html">Start Using DishGo</a></li>
			</ol>
			<hr>
		</div>
	</div>
	<form class="form-horizontal" role="form" id="sign-up-form" method="post" action="<%= registration_path(resource_name) %>">
		<%= render 'shared/error_messages' %>
		<%= devise_error_messages! %>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-10">
				<input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-5">
				<input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
			</div>
			<div class="col-sm-5">
				<input type="password" class="form-control move" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Confirm Password">
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<div class="col-sm-offset-1 col-sm-10">
					<select id="inputPackage3" name="inputPackage3" class="input-xlarge form-control">
						<option value="" selected="selected">(select your plan) Your 30 day free trial starts now!</option>
						<option value="CA">Standard $20/m</option>
						<option value="US">Professional $39/m</option>
						<option value="US">Premiun $199/m</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-11">
				<div class="checkbox">
					<label>
						<input name="user[remember_me]" type="hidden" value="0">
						<input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
						Remember me
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-7 col-sm-4">
				<button class="btn btn-success" type="submit">Create Your Account<i class="fa fa-chevron-right" style="margin-left: 20px; font-size: 12px;"></i></button>
			</div>
			<div class="col-xs-12" style="text-align: right">
				<%= render "devise/shared/links" %>
			</div>
			<div class="col-xs-12">
				<div class="secured">
					<i class="fa fa-lock"></i> Your information is secure with DishGo
				</div>
			</div>
		</div>
	</form>
