<div class="container">
	 <div class="intro-splash" style="margin-top:40px;">
		<div class="row">
			<h1 class="col-xs-6">Website Statistics</h1>
			<h4 class="col-xs-6 text-right" style="color: #cf2f28;margin-top:0;">*Beta</h4>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>You can checkout some statistics about your website on the chart below. Want more traffic? Contact us, we can help!</p>
			</div>
		</div>		
		<br />

		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-xs-12">
						<h3>Total Views: <%= @total_traffic %></h3>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h3>Unique Visitors: <%= @unique %></h3>
					</div>	
				</div>				
				<div class="row">
					<div class="col-xs-12">
						<h3>Users on page now: <%= @active %></h3>
					</div>	
				</div>				
			</div>	
			<div class="col-sm-8">
				<div class="btn-group" style="margin-bottom: 10px;">
					<button type="button" class="btn btn-rewards" data-bind="click: function(){ day_data(); }">24 Hours</button>
					<button type="button" class="btn btn-rewards" data-bind="click: function(){ week_data(); }">7 Days</button>
				</div>				
				<canvas id="canvas" height="350" width="600"></canvas>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	function MainViewModel(data) {
		var self = this;
		self.chart = new Chart($("#canvas").get(0).getContext("2d"));
		self.chart_data = {
			labels : [],
			datasets : [],
		};		
		self.base_data_set = {
								fillColor : "rgba(151,187,205,0.5)",
								strokeColor : "rgba(151,187,205,1)",
								pointColor : "rgba(151,187,205,1)",
								pointStrokeColor : "#fff",
							};
		self.global_chart;

		self.day_data = function(){
            $.ajax({
				type: "POST",
				url: "/app/analytics/day_data",
				data: {
					restaurant_id: "<%= current_user.owns_restaurants.id %>",
				},
				success: function(data, textStatus, jqXHR){
					if(self.global_chart)
						self.global_chart.destroy();
					document.getElementById("canvas").width = 600;
					document.getElementById("canvas").height = 350;						
					var chart_data = self.chart_data;
					chart_data.labels = data.labels;
					var data_set = self.base_data_set;
					data_set.data = data.data;
					chart_data.datasets = [data_set];
					self.global_chart = self.chart.Bar( chart_data );            		
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) { 

				},
				dataType: "json"
            }); 
		}

		self.week_data = function(){
            $.ajax({
				type: "POST",
				url: "/app/analytics/week_data",
				data: {
					restaurant_id: "<%= current_user.owns_restaurants.id %>",
				},
				success: function(data, textStatus, jqXHR){				
					if(self.global_chart)
						self.global_chart.destroy();
					document.getElementById("canvas").width = 600;
					document.getElementById("canvas").height = 350;					
					var chart_data = self.chart_data;
					chart_data.labels = data.labels;
					var data_set = self.base_data_set;
					data_set.data = data.data;
					chart_data.datasets = [data_set];
					self.global_chart = self.chart.Bar( chart_data );            		           		
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) { 

				},
				dataType: "json"
            }); 
		}		

		self.week_data();
	}
	
	var vm = new MainViewModel();
	ko.applyBindings(vm);
	
</script>