    <%= stylesheet_link_tag "menu_editor" %>
    <%= stylesheet_link_tag "iphone_demo" %>  


    <div id = "center" style="position:fixed;top:50%;left:50%;z-index:200000"></div>
    <div id = "loading"></div>

    <!-- Bottom Control -->
    <div class="menu_controller">
        <div class="col-md-4 col-xs-12" style="margin-left: 0px">     
            <button class="btn btn-primary" data-bind="click: togglePreview, text: previewText, visible: current_dish"></button>                       
        </div>        
        <div class="col-md-4 col-xs-12" style="margin-left: 0px">     
            <button class="btn btn-primary col-xs-6" data-bind="click: saveMenu">Commit Changes</button> 
            <button class="btn btn-danger col-xs-5 col-xs-offset-1">Discard Changes</button>                         
        </div>
    </div> 

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="col-xs-12 add_section text-center" data-bind="with: restaurant" style="color: white">
                <div class="row">
                    <h4 style="margin-top: 0px; margin-bottom: 0px" data-bind="text: name"></h4>
                </div>
                <div class="row">
                    <button class="btn btn-info btn-sm" type="button" data-bind="click: $root.addSection">Add Section</button>  
                </div>                                                
            </div>               
            <ul class="sidebar-nav" data-bind="foreach: menu">
                <li>
                    <div class="media push_down"> 
                        <a class="pull-left">
                            <img class="media-object" height="25" data-bind="attr:{src:title_image}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" data-bind="text: name"></h4> 
                        </div>                        
                    </div>
                </li>
                <!-- ko foreach: dishes -->
                    <li class="menu_dish_item">
                        <span class="glyphicon glyphicon-play pull-right icon-flipped" data-bind="visible: $root.current_dish_check($data)"></span>
                        <div class="media" data-bind="click: $root.set_dish">
                            <a class="pull-left">
                                <img class="media-object"  height="25"  data-bind="attr:{src:title_image}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading" data-bind="text: name"></h4>
                            </div>                    
                        </div>
                    </li>
                <!-- /ko -->
                <li>
                    <div class="row text-center" style="margin: 0px">
                        <button class="btn btn-info btn-sm" type="button" data-bind="click: addDish">Add Dish</button>  
                    </div>
                </li>                    
            </ul>                                    
        </div>    
 

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
                    <div class="col-md-6 col-xs-12 text-center" data-bind="with: current_dish">
                        <%= render 'menu_content2' %>
                    </div> 

                    <div class="col-md-6 col-xs-12" data-bind="with: current_dish">
                        <%= render 'demo_code2' %>
                    </div> 
                </div>
            </div>
        </div>

    </div>

    <%= render 'menu_templates' %>

    <%= javascript_include_tag "menu_editor" %>

    <script type='text/javascript'>
        var restaurant_id = "<%= params[:restaurant_id]%>";
        var menu_data = <%= raw(@menu_data) %>;
        var resto_data = <%= raw(@resto_data.to_json) %>;
        var image_crop_url = "/home/crop_image";
        var icon_upload_url = "/home/upload_icon"
        var image_upload_url = "/home/upload_image"        
        ko.applyBindings(new MenuViewModel());

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });

    </script>   

