    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <div id = "center" style="position:fixed;top:50%;left:50%;z-index:200000"></div>
    <div id = "loading"></div>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="col-xs-12 add_section" data-bind="with: restaurant" id="dark">
                <div class="row">
                    <h3 data-bind="text: name" id="restaurant_name"></h3>
                </div>
                <div class="row" id="add_section_button">
                    <button class="btn btn-section btn-xs" type="button" data-bind="click: $root.addSection">+ Add Section</button>  
                </div>                                                
            </div>               
            <ul class="sidebar-nav" data-bind="foreach: menu">
                <li class="section_title_menu">
                    <span class="glyphicon glyphicon-play pull-right icon-flipped" data-bind="visible: $root.current_section_check($data)" id="icon_play"></span>                    
                    <div class="media push_down"> 
                        <a class="pull-left" data-bind="click: $root.set_section">
                            <img class="media-object" height="25" data-bind="attr:{src:title_image}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" data-bind="text: computed_name, click: $root.set_section" id="uppercase"></h4><button class="btn btn-dish btn-xs pull-left" type="button" data-bind="click: addDish" id="add_dish_button">+ Add Dish</button> 
                        </div>                          
                    </div>
                </li>
                <!-- ko foreach: dishes -->
                    <li class="menu_dish_item">
                        <span class="glyphicon glyphicon-play pull-right icon-flipped" data-bind="visible: $root.current_dish_check($data)" id="icon_play"></span>
                        <div class="media" data-bind="click: $root.set_dish">
                            <div class="media-body">
                                <span class="glyphicon glyphicon-pencil" id="icon_edit"></span><h4 class="media-heading" data-bind="text: name"></h4>
                            </div>                    
                        </div>
                    </li>
                <!-- /ko -->                  
            </ul>                                    
        </div>    
 

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">

                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></a>

                    <!-- ko with: current_section -->
                        <div class="col-md-6 col-xs-12 text-center">
                            <%= render 'section_content' %>
                        </div>
                    <!-- /ko -->

                    <div class="col-md-6 col-xs-12 text-center" data-bind="with: current_dish">
                        <%= render 'menu_content' %>
                    </div> 

                    <div class="col-md-6 col-xs-12" data-bind="with: current_dish">
                        <%= render 'demo_code' %>
                    </div> 

                </div>
            </div>
        </div>

    </div>

    <%= render 'menu_templates' %>

    <%= javascript_include_tag "menu_editor" %>

    <script type='text/javascript'>

        var restaurant_id = "<%= params[:restaurant_id]%>";
        var menu_data = <%= raw(@menu_data) %>;
        var resto_data = <%= raw(@resto_data.to_json) %>;
        var image_crop_url = "/app/administration/crop_image";
        var icon_upload_url = "/app/administration/upload_icon"
        var image_upload_url = "/app/administration/upload_image"

        $(document).ready(function () {     
            ko.applyBindings(new MenuViewModel());
        });

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });

    </script>   

