    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <div id = "center" style="position:fixed;top:50%;left:50%;z-index:200000"></div>
    <div id = "loading"></div>

    <style>
        body {
            background-image: none !important;
            background-color: white;
        }
    </style>

    <div data-bind="visible: current_menu().save_menu_modal" style="display:none">
        <div id="bg"></div>
        <div id="save_menu_modal_on_top">
          <div id="save_menu">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Draft Saved</h3>
                    <div class="text-center">
                    <p class="text-left">Your changes are now saved. You can preview them <a data-bind="attr:{href: $root.preview_token}" target=\"_blank\">here <i class="fa fa-external-link"></i></a>. In order to make them live, you must publish your changes.</p>
                    <h4 class="text-center" style="margin-top: 30px;">If you wish to publish this menu, click publish!</h4>
                        <button class="btn btn-dish" data-bind="click: function(){ save_menu_modal(!save_menu_modal()); publishMenu() }">Publish</button>
                    </div>
                    <div class="save_menu_footer">
                        <button class="btn btn-default pull-right" data-bind="click: function(){ save_menu_modal(!save_menu_modal()) }">Close</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div data-bind="visible: current_menu().odesk_save_menu_modal" style="display:none">
        <div id="bg"></div>
        <div id="save_menu_modal_on_top">
          <div id="save_menu">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Saved</h3>
                    <div class="text-center">
                    <p class="text-left">Your changes are now saved.</p>
                    <h4 class="text-center" style="margin-top: 30px;">If you wish to mark this menu as complete, click below.</h4>
                        <button class="btn btn-dish" data-bind="click: function(){ odesk_save_menu_modal(!odesk_save_menu_modal()); odeskMenuComplete() }">Menu Completed!</button>
                    </div>
                    <div class="save_menu_footer">
                        <button class="btn btn-default pull-right" data-bind="click: function(){ odesk_save_menu_modal(!odesk_save_menu_modal()) }">Close</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>    

    <div data-bind="visible: showOptionsList" style="display:none">
        <div id="bg"></div>
        <div id="options_list_modal_on_top">
          <div id="options_list">
            <div class="row">
                <div class="col-md-6">
                    <h3>Select Option:</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Select Dish With Option</h4>
                            <select class="form-control" data-bind="options: dishList,
                                                   optionsText: function(item){ return item.lName() },
                                                   value: $root.current_menu().currentDishOptions,
                                                   optionsCaption: 'Choose Dish'"></select>                            
                        </div>
                        <div class="col-xs-6">
                            <div data-bind="with: $root.current_menu().currentDishOptions">
                                <h4>Select Option</h4>
                                <!-- ko if: showOptionsList -->
                                    <select class="form-control" data-bind="options: options,
                                                           optionsText: function(item){ return item.lName() },
                                                           value: $root.current_menu().currentOption,
                                                           optionsCaption: 'Choose Option'"></select>
                                <!-- /ko -->                                  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 web_preview" data-bind="with: $root.current_menu().currentOption">
                  <h3>Selected Option</h3>
                  <strong><h4 class="text-center" data-bind="lText: name"></h4></strong>
                  <div data-bind="foreach: individual_options">
                    <label class="button lightText square red float_option" data-bind="css: {'active': $parent.selectedOptionValue().indexOf($data) >= 0}">
                      <input name="sizes_radio" type="checkbox" data-bind="checkedValue: $data, checked: $parent.selectedOptionValue" style="opacity: 0; width: 0px"/>
                      <span data-bind="lText: name"></span>
                      <!-- ko if: $data.icon -->
                      <img class="col-xs-12 thumbnail" data-bind="attr: {src: icon().url()}" />
                      <!-- /ko -->
                    </label>                         
                  </div>
                  <button class="btn btn-primary btn-lg copy_option" data-bind="click: $root.current_menu().copyOptionIntoDish">Copy Option Into Current Dish</button>
                </div>
            </div>
            <div class="options_list_footer">
                <button class="btn btn-default pull-right" data-bind="click: $root.current_menu().closeCopyOption">Close</button>
            </div>                         
          </div>
        </div>
    </div>

    <div data-bind="visible: showSizesList" style="display:none">
        <div id="bg"></div>
        <div id="options_list_modal_on_top">
          <div id="options_list">
            <div class="row">
                <div class="col-md-6">
                    <h3>Select Size:</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Select Dish With Size</h4>
                            <!-- ko if: showSizesList -->
                                <select class="form-control" data-bind="options: $root.current_menu().dishSizeList,
                                                       optionsText: function(item){ return item.lName() },
                                                       value: $root.current_menu().currentOption,
                                                       optionsValue: 'sizes_object',
                                                       optionsCaption: 'Choose Dish'"></select> 
                            <!-- /ko -->                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6 web_preview" data-bind="with: $root.current_menu().currentOption">
                  <h3>Selected Size</h3>
                  <strong><h4 class="text-center" data-bind="lText: name"></h4></strong>
                  <div data-bind="foreach: individual_options">
                    <label class="button lightText square red float_option" data-bind="css: {'active': $parent.selectedOptionValue().indexOf($data) >= 0}">
                      <input name="sizes_radio" type="checkbox" data-bind="checkedValue: $data, checked: $parent.selectedOptionValue" style="opacity: 0; width: 0px"/>
                      <span data-bind="lText: name"></span>
                      <!-- ko if: $data.icon -->
                      <img class="col-xs-12 thumbnail" data-bind="attr: {src: icon().url()}" />
                      <!-- /ko -->
                    </label>                         
                  </div>
                  <button class="btn btn-primary btn-lg copy_option" data-bind="click: $root.current_menu().copySizeIntoDish">Copy Size Into Current Dish</button>
                </div>
            </div>
            <div class="options_list_footer">
                <button class="btn btn-default pull-right" data-bind="click: $root.current_menu().closeCopyOption">Close</button>
            </div>                         
          </div>
        </div>
    </div>          

    <div id="wrapper" data-bind="visible: true" style="display:none">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="add_section" data-bind="with: restaurant" id="dark">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 data-bind="text: name" id="restaurant_name"></h3>
                    </div>
                </div>
                <div class="row" id="no_bottom_margin" data-bind="visible: $root.show_lang">
                    <div class="col-xs-12">
                        <div class="menu_editor_language">
                            <span>Language: </span>
                            <select data-bind="options: $root.languages, value: $root.lang"></select>                
                        </div>
                    </div>
                </div>              
                <div class="row" id="add_section_button">
                    <div class="col-xs-12">
                        <button class="btn btn-section btn-xs" type="button" data-bind="click: $root.current_menu().addSection, helperTip: {template:'add_section_help_template', when: $root.current_menu().firstSectionHelp, data: $root.current_menu()}">+ Add Section</button>
                        <script id="add_section_help_template" type="text/x-jQuery-tmpl">
                            <div class="fixed_helper_container">
                                <div class="helper_container">
                                    <span class="glyphicon glyphicon-play helper_arrow"></span>
                                    <h4>Start by adding a section to your menu!</h4>
                                </div>
                            </div>
                        </script> 
                    </div>
                </div>                                                
            </div>               
            <ul class="sidebar-nav" data-bind="foreach: $root.current_menu().menu">
                <li class="section_title_menu" data-bind="click: $root.current_menu().set_section">
                    <span class="glyphicon glyphicon-play pull-right icon-flipped" data-bind="visible: $root.current_menu().current_section_check($data)" id="icon_play"></span>                    
                    <div class="media push_down"> 
                        <a class="pull-left">
                            <img class="media-object" height="25" data-bind="attr:{src:title_image}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" data-bind="text: computed_name" id="uppercase"></h4>
                            <button class="btn btn-dish btn-xs pull-left add_dish_button" type="button" data-bind="click: addDish, clickBubble: false, helperTip: {template:'add_dish_help_template', when: $root.current_menu().firstDishHelp}" id="add_dish_button">+ Add Dish</button>
                            <script id="add_dish_help_template" type="text/x-jQuery-tmpl">
                                <div class="fixed_helper_container">
                                    <div class="helper_container">
                                        <span class="glyphicon glyphicon-play helper_arrow"></span>
                                        <h4>When you are done entering your section title, create your first dish!</h4>
                                    </div>
                                </div>
                            </script>
                        </div>                          
                    </div>
                </li>
                <!-- ko foreach: dishes -->
                    <li class="menu_dish_item" data-bind="css: { active : $root.current_menu().current_dish_check($data)}">
                        <!-- <span class="glyphicon glyphicon-play pull-right icon-flipped" data-bind="visible: $root.current_dish_check($data)" id="icon_play"></span> -->
                        <div class="media" data-bind="click: $root.current_menu().set_dish">
                            <div class="media-body">
                                <span class="glyphicon glyphicon-pencil" id="icon_edit"></span><span class="media-heading h4" data-bind="text: computed_name"></span>
                            </div>                    
                        </div>
                    </li>
                <!-- /ko -->                  
            </ul>                                    
        </div>    
 

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class="row">

                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
                    <!-- ko with: current_menu_edit -->
                        <div class="col-xs-12 text-center">
                            <%= render 'administration/menu_edit_content' %>
                        </div>
                    <!-- /ko -->
                    <!-- ko with: $root.current_menu().current_section -->
                        <div class="col-xs-12 text-center">
                            <%= render 'administration/section_content' %>
                        </div>
                    <!-- /ko -->
                    <div class="row">
                        <div class="col-md-6 col-xs-12 text-center" data-bind="with: $root.current_menu().current_dish">
                            <%= render 'administration/menu_content' %>
                        </div> 

                        <div class="col-md-6 col-xs-12" data-bind="with: $root.current_menu().current_dish">                           
                            <%= render 'administration/demo_code' %>
                        </div> 
                    </div> 

                </div>
            </div>
        </div>

    </div>

    <%= render 'administration/menu_templates' %>

    <script type='text/javascript'>

        var restaurant_id = "<%= params[:restaurant_id]%>";
        var resto_data = <%= raw(@resto_data.to_json) %>;
        var image_crop_url = "/app/administration/crop_image";
        var icon_upload_url = "/app/administration/upload_icon"
        var image_upload_url = "/app/administration/upload_image"
        var viewmodel;

        $(document).ready(function () {  
            viewmodel = new MenuViewModel(); 
            ko.applyBindings(viewmodel);
        });

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });

    </script>   

