    <%= stylesheet_link_tag "menu_editor" %>

    <div id = "center" style="position:fixed;top:50%;left:50%;z-index:200000"></div>
    <div id = "loading"></div>

    <div class="menu_controller">
        <div class="col-md-7 col-xs-12" style="margin-left: 0px">     
            <button class="btn btn-primary col-xs-6" data-bind="click: saveMenu">Commit Changes</button> 
            <button class="btn btn-danger col-xs-5 col-xs-offset-1">Discard Changes</button>                         
        </div>

        <div class="form-inline col-md-5 col-xs-12 push_down_small" style="margin-right: 0px">
            <div class="input-group">
                <input class="form-control" data-bind="value: newSectionName" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" data-bind="click: addSection">Add Section</button>
                </span>
            </div><!-- /input-group -->                                                     
        </div>                   
    </div>  

    <div class="container-fluid section">
        <div data-bind="foreach: menu">

            <div class="clearfix"></div>
            <div class="section_header">
                <span class="closeButton glyphicon glyphicon-remove-circle" data-bind="click: $parent.remove"></span>
                <div class="col-xs-12 col-md-7" style="margin-left: 0px">     
                    <div class="input-group">
                        <span class="input-group-addon">Section Title:</span>
                        <input data-bind="value: name" class="col-xs-6 form-control input-group-sm tooltipclass" data-toggle="tooltip" data-placement="bottom" title="Type in this sections title into this box."/>
                    </div>                              
                </div>

                <div class="form-inline col-md-5 col-xs-12" style="margin-right: 0px">
                    <div class="input-group">
                        <input class="form-control" data-bind="value: newDishName" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" data-bind="click: addDish">Add Dish</button>
                        </span>
                    </div>                                                    
                </div>                                       
            </div>  


            <div data-bind="foreach: dishes">
                <div class="col-xs-12 col-md-6">
                    <%= render 'menu_content' %>
                </div>  
            </div>
        </div> <!-- End of foreach dish -->        

        </div>
    </div>  

    <%= render 'menu_templates' %>

    <%= javascript_include_tag "menu_editor" %>

    <script type='text/javascript'>
        var restaurant_id = "<%= params[:restaurant_id]%>";
        var menu_data = <%= raw(@menu_data) %>;
        var image_crop_url = "/administration/crop_image";
        var icon_upload_url = "/administration/upload_icon"
        var image_upload_url = "/administration/upload_image"        
        ko.applyBindings(new MenuViewModel());
    </script>   

