<div class="container">

    <div class="col-xs-12 col-md-4">

        <div class="row">
            <div class="form-inline" role="form">
                <input class="form-control" data-bind="value: restaurant_name" />
                <button class="btn btn-default" data-bind="click: search_for_restaurant">Search</button>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit Restaurant</th>
                        <th>Edit Menu</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'resto_temp', foreach: restaurants }"></tbody>
            </table>
        </div>

    </div>


    <div class="col-md-8" data-bind="with: current_restaurant">
        <div>
            <div data-bind="template: { name: 'restaurant_template', data: $parent.current_restaurant }"></div>          
        </div>
    </div>


    <script id="resto_temp" type="text/html">
        <tr>
            <td>
                <p data-bind="text: name"></p>
            </td>                       
            <td>
                <button class="btn btn-default btn-sm" data-bind="click: $root.set_restaurant">Edit</button>
            </td> 
            <td>
                <a data-bind="attr: { href: '/app/administration/edit_menu?restaurant_id=' + id}" class="btn btn-default btn-sm">Menu</a>
            </td>                                                  
        </tr>   
    </script>

    <%= render 'shared/restaurant_template' %>
    <%= render 'shared/design_template' %>
    <%= render 'shared/design_javascript' %>
    <%= render 'shared/restaurant_javascript' %>

    <script type='text/javascript'>//<![CDATA[ 

        var design_data = <%= raw(@designs.to_json) %>;

        function viewModel() {
            var self = this;
            self.restaurant_name = ko.observable("");
            self.restaurants = ko.observableArray([]);
            self.designs = ko.observable(($.map(design_data, function(item) { return new Design(item) })));
            self.current_restaurant = ko.observable();
            self.search_for_restaurant = function() {
                console.log("Searching!");
                $.getJSON("/app/administration/search_restaurants?restaurant_name=" + self.restaurant_name(), function(data) { 
                    self.restaurants($.map(data, function(item) { console.log(item); return new Restaurant(item) }));
                }).fail( function(d, textStatus, error) {
                    console.error("getJSON failed, status: " + textStatus + ", error: "+error)
                });
            };

            self.set_restaurant = function(resto) {
                self.current_restaurant(resto);
            };

            self.new_restaurant = function(){
                self.current_restaurant(new Restaurant({
                                                        name:"New Restaurant",
                                                        lat:0.0,
                                                        lon:0.0,
                                                        _id:null,
                                                        address_line_2:"",
                                                        address_line_1:"",
                                                        phone:"",
                                                        city:"",
                                                        province:""
                                                    }))
            }        
        };

        var viewmodel = new viewModel();
        ko.applyBindings(viewmodel);


    //]]>  
    </script>    

</div>