<%= javascript_include_tag "codemirror" %> 
<%= stylesheet_link_tag    "codemirror" %>

<div class="container">

    <p class="col-xs-12">
        <select class="form-control" data-bind="
                            options: designs, 
                            optionsText: 'name',
                            value: selectedDesign,

                            "></select>  
    </p>

    <p class="col-xs-12">
        <button class="btn btn-primary" data-bind="click: createDesign">Create Design</button>
    </p>    

    <div data-bind="template: { name: 'create_design_template', data: selectedDesign}"></div>      

    <%= render 'shared/design_template' %>
    <%= render 'shared/design_javascript' %>

    <script type='text/javascript'>//<![CDATA[   

        var design_data = <%= raw(@designs.to_json) %>;

        ko.bindingHandlers.codemirror = {
            init: function(element, valueAccessor, allBindingsAccessor, viewModel) {
                var options = ko.toJS(valueAccessor());
                options.value = options.value || '';
                var editor = CodeMirror.fromTextArea(element, options);
                editor.on('change', function (cm) {
                    var value = ko.unwrap(valueAccessor()).value;
                    if (ko.isObservable(value)) {
                        value(cm.getValue());
                    } else {
                        ko.unwrap(valueAccessor()).value = cm.getValue();
                    }
                });
                editor.setValue(allBindingsAccessor().value());
                editor.refresh();
                var wrapperElement = $(editor.getWrapperElement()); 

                ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
                    wrapperElement.remove();
                });
            }
        };        

        function viewModel() {
            var self = this;
            self.designs = ko.observableArray([]);
            self.selectedDesign = ko.observable();            
            self.designs($.map(design_data, function(item) { return new Design(item) }));

            self.set_user = function(user) {
                // self.current_user(user);
            };        

            self.createNewDesignButton = ko.computed(function(){
                if(self.selectedDesign() && self.selectedDesign().id() == "") {
                    return "Create";
                } else {
                    return "Save";
                }
            });  

            self.designFormTitle = ko.computed(function(){
                if(self.selectedDesign() && self.selectedDesign().id() == "") {
                    return "Create a New Design:";
                } else {
                    return "Edit Design:";
                }
            });                

            self.createDesign = function(){
                $.ajax({
                  type: "POST",
                  url: "/app/design/create",
                  data: {
                    test:'hi',
                  },
                  success: function(data, textStatus, jqXHR){
                        var des = new Design(data);
                        self.designs.push(des);
                        self.selectedDesign(des);
                        console.log(des);
                        console.log("HI");
                    },
                  dataType: "json"
                });
            }

            self.updateDesign = function(item){
                $.ajax({
                  type: "POST",
                  url: "/app/design/update",
                  data: {
                    // name: item.name(),
                    // css: item.css(),
                    // menu_css: item.menu_css(),
                    // id: item.id(),
                    data: ko.toJSON(item)
                  },
                  success: function(data, textStatus, jqXHR){
                        bootbox.alert("Success");
                    },
                  dataType: "json"
                });
            }            

            self.destroyDesign = function(item) {
                bootbox.dialog({
                  message: "Destroy design \"" + item.name() + "\"?",
                  title: "Remove Design",
                  buttons: {
                    success: {
                      label: "No",
                      className: "btn-primary pull-left col-xs-3",
                      callback: function() {

                      }
                    },
                    danger: {
                      label: "Yes",
                      className: "btn-danger col-xs-3 pull-right",
                      callback: function() {
                        $.ajax({
                          type: "POST",
                          url: "/app/design/destroy",
                          data: {
                            id: item.id,
                          },
                          success: function(data, textStatus, jqXHR){
                                self.designs.remove(item);
                            },
                          dataType: "json"
                        });                        
                      }
                    },
                  }
                });        
            } 


        };

        var viewmodel = new viewModel();
        ko.applyBindings(viewmodel);


    //]]>  
    </script>
</div>