		<title><%= @resto_data['name'] %></title>
		<meta name="description" content="DishGo Menu for <%= @resto_data['name'] %>.">
		<meta property="fb:app_id"          content="886479778048507" /> 
		<meta property="og:type"               content="restaurant.restaurant" />	 	
		<meta property="og:url"             content="https://dishgo.io/app/network/restaurant/<%= @restaurant.id %>" /> 
		<meta property="og:title"           content="<%= @resto_data['name'] %> on DishGo." /> 
    <% if @restaurant.logo %>
		<meta property="og:image"           content="<%= @restaurant.logo.img_url_original %>" />                                                                                                                               
    <% elsif @restaurant.image.length > 0 %>
		<meta property="og:image"           content="<%= @restaurant.image.profile_images.first.img_url_original %>" />                                                                                                                                                                                                                                                            
    <% end %>		
