<div class="network_header">
	<div class="container">

		<div id="logo" data-bind="visible: !top_search()">
			<a href="#">
				<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/DishGo-black-red.png" class="img-responsive">
			</a>
		</div>

		<form class="form-inline col-xs-4" role="form" data-bind="visible: top_search">
			<div class="form-group">
				<div class="controls">
					<div class="input-group input-group-lg">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input id="#" name="#" type="text" placeholder="Search" class="form-control" data-bind="hasFocus: top_search, value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
						<span class="input-group-btn">
							<button class="btn btn-lg btn-search">Search</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	
		<div id="login_buttons">
			<ul>
				<li><a href="/app/users/sign_in" class="btn btn-none" style="margin-right:-3px;">Log In</a></li>
            	<li><a href="/app/letsdishgo" class="sign_up_button btn btn-search">Get Listed</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="menu_background">

	<div class="container_small letsdishgomeat"  data-bind="visible: !top_search()">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Search Restaurant Menus</h1>
				<form class="form-inline" role="form" data-bind="#">
					<div class="form-group">
						<div class="controls">
							<div class="input-group input-group-lg">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
								<input id="#" name="#" type="text" placeholder="Search" class="form-control" data-bind="hasFocus: !top_search(), value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
								<span class="input-group-btn">
									<button class="btn btn-lg btn-search">Search</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- SEARCH RESULTS WILL APPEAR HERE -->

	<div class="container letsdishgomeat"  data-bind="visible: top_search">
		<div class="row" data-bind="foreach: restaurants">
			<div class="col-md-4">
				<div class="dish_container">
					<div class="col-xs-12 dish-picture">
						<img class="img-responsive" data-bind="attr:{src:logo}">
						<span class="dish_title_bar">
							<span class="dishgo_icon">
								<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/icon.png" class="img-responsive">
							</span>
							<!-- ko text: name --><!-- /ko -->
						</span>
						<span class="dish_rating">
								<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/five-stars.png" class="img-responsive">
						</span>
					</div>
					<div class="col-xs-12">
						<div class="dish-description">
							<p>Bla bla bla bla restaurant description.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div id="white_background" data-bind="slideVisible: !top_search()">
	<div class="container">
		<div class="row">
			<h2 class="text-center">Top dishes of the day</h2>
			<% @dishes.each do |dish| %>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="/app/network/restaurant" class="full_dish_link"></a>
					<div class="dish_container">
						<div class="col-xs-12 dish-picture">
							<img class="img-responsive" src="<%= dish.img_src %>">
							<span class="dish_title_bar">
								<span class="dishgo_icon">
									<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/icon.png" class="img-responsive">
								</span>
								<%= dish.name %>
							</span>
							<span class="dish_rating">
									<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/five-stars.png" class="img-responsive">
							</span>
						</div>
						<div class="col-xs-12">
							<div class="dish-description">
								<p><%= dish.description %></p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>	
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>About Us</h3>
				<ul style="list-style: none; float: left; padding-left:0px; font-size: 14px;">
					<li><a href="https://dishgo.io" target="_blank">Website Builder</a>
					<li><a href="dishgo-mobile-app.html" target="_blank">DishGo App</a></li>
					<li><a href="/blog" target="_blank">Blog</a></li>
					<li><a href="/app/users/sign_in" target="_blank">Log In</a></li>
					<li><a href="/app/users/sign_up" target="_blank">Sign Up</a></li>
					<li><a href="index_fr.html">Français</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Restaurants</h3>
				<ul style="list-style: none; float: left; padding-left:0px; font-size: 14px;">
					<li><a href="http://www.letsdishgo.com" target="_blank">Get Listed</a></li>
					<li><a href="#" target="_blank">Get Featured</a></li>
					<li><a href="#" target="_blank">Menu Optimization</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Earn Rewards</h3>
				<ul style="list-style: none; float: left; padding-left:0px; font-size: 14px;">
					<li><a href="#">DishCoins</a></li>
					<li><a href="#">Redeem</a></li>
					<li><a href="#">Contests</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>LATEST TWEETS</h3>
				<a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="435779578913497088" data-theme="dark" data-link-color="#2682a9"  data-related="twitterapi,twitter" data-chrome="nofooter noborders noheader noscrollbar transparent" data-aria-polite="assertive"  data-tweet-limit="2"  width="520" height="120" lang="EN"></a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
				
	<div class="letsdishgo-bottom">
		<ul>
			<li class="first">
				<a href="https://dishgo.io/privacy-policy.html" target="_blank">Privacy Policy</a>
			</li>
			<li>
				<a href="mailto:info@dishgo.io">Contact Us</a>
			</li>
			<li class="last">
				<a href="https://dishgo.io">©DishGo</a>
			</li>
		</ul>
	</div>
</footer>
<script>
	[
		"<%= stylesheet_path 'network'%>",
	].forEach(function(src) {
		var l = document.createElement('link'); 
		l.rel = 'stylesheet';
		l.href = src;
		document.head.appendChild(l);
	});

	var scripts = [
		"<%= javascript_path 'application' %>",
    	"<%= javascript_path 'menu_editor' %>",
    	"<%= javascript_path 'network_index_javascript' %>",
	];
	var src;
	var script;
	var pendingScripts = [];
	var firstScript = document.scripts[0];

	// Watch scripts load in IE
	function stateChange() {
	  // Execute as many scripts in order as we can
	  var pendingScript;
	  while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
	    pendingScript = pendingScripts.shift();
	    // avoid future loading events from this script (eg, if src changes)
	    pendingScript.onreadystatechange = null;
	    // can't just appendChild, old IE bug if element isn't closed
	    firstScript.parentNode.insertBefore(pendingScript, firstScript);
	  }
	}

	// loop through our script urls
	while (src = scripts.shift()) {
	  if ('async' in firstScript) { // modern browsers
	    script = document.createElement('script');
	    script.async = false;
	    script.src = src;
	    document.head.appendChild(script);
	  }
	  else if (firstScript.readyState) { // IE<10
	    // create a script and add it to our todo pile
	    script = document.createElement('script');
	    pendingScripts.push(script);
	    // listen for state changes
	    script.onreadystatechange = stateChange;
	    // must set src AFTER adding onreadystatechange listener
	    // else we’ll miss the loaded event for cached scripts
	    script.src = src;
	  }
	  else { // fall back to defer
	    document.write('<script src="' + src + '" defer></'+'script>');
	  }
	}			

</script>	

