<div id="menu_background">

	<!-- MOBILE -->
	<!-- ko if: isMobile -->
	<div class="container_small letsdishgomeat"  data-bind="mobileSearchTop: top_search()">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 data-bind="visible: !top_search()">Search Restaurant Menus</h1>
				<div class="form-inline" role="form" data-bind="#">
					<div class="form-group">
						<div class="controls">
							<div class="input-group input-group-lg">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
								<input id="#" name="#" type="text" placeholder="Restaurant Name" class="form-control" data-bind="value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
								<span class="input-group-btn">
									<button class="btn btn-lg btn-search">Search</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->

	<!-- DESKTOP -->
	<!-- ko if: !isMobile -->
	<div class="container_small letsdishgomeat"  data-bind="visible: !top_search()" style="display: none">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Search Restaurant Menus</h1>
				<div class="form-inline" role="form" data-bind="#">
					<div class="form-group">
						<div class="controls">
							<div class="input-group input-group-lg">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
								<input id="#" name="#" type="text" placeholder="Restaurant Name" class="form-control" data-bind="hasFocus: !top_search(), value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
								<span class="input-group-btn">
									<button class="btn btn-lg btn-search">Search</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->

	<!-- SEARCH RESULTS WILL APPEAR HERE -->

	<div class="container search_results"  data-bind="visible: top_search" style="display: none">
		<div class="row" data-bind="foreach: restaurants">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="dish_container coo_hover">
					<div class="row">
						<a data-bind="attr:{href:'/app/network/restaurant/'+id}" class="full_dish_link"></a>
						<div class="dish_title_bar">
							<span class="restaurant_name">
								<!-- ko text: name --><!-- /ko -->
							</span>
						</div>
						<div class="restaurant_logo_wrap">
	                        <div class="restaurant_logo">
	                            <div class="restaurant-data pull-left">
	                                <div class="restaurant-pic pull-left">
	                                    <img src="http://placehold.it/600x600" alt="" class="img-responsive" />
	                                </div>
	                            </div>
	                        </div>
	                        <span class="resto_rating" data-bind="starRating: rating"></span>
                    	</div>
						<div class="col-xs-8 col-xs-offset-4" style="top: 60px;">
							<div class="contact_details">
								<div class="row">
									<div class="col-xs-2" style="padding-right:5px;">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="col-xs-10" style="padding-left:0;">
										<address>
					                        <!-- ko text: address_line_1 --><!-- /ko -->
					                        <br>
					                        <!-- ko text: city --><!-- /ko -->
					                        <!-- ko text: province --><!-- /ko -->
				                		</address>
				                	</div>
			                	</div>
			                	<div class="row">
									<div class="col-xs-2" style="padding-right:5px;">
										<i class="fa fa-phone"></i>
									</div>
									<div class="col-xs-10" style="padding-left:0;">
										<span><!-- ko text: phone --><!-- /ko --></span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-2" style="padding-right:5px;">
										<i class="fa fa-cutlery"></i>
									</div>
									<div class="col-xs-10" style="padding-left:0;" data-bind="foreach: categories">
										<span><!-- ko text: $data --><!-- /ko --></span> <!-- Category -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="restaurant_pics"> <!-- dish pictures from resto -->
						<div class="row" data-bind="foreach: images">
							<div class="col-xs-3">
								<div class="image-cropped" data-bind="style: { backgroundImage: 'url(' + $data.small() + ')' }"></div>						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div id="white_background" data-bind="slideVisible: !top_search()">
	<div class="container">
		<div class="row">
			<h1 class="text-center" style="margin-top:0;">Top Dishes of the Day</h1>
			<hr>
			<% @dishes.each do |dish| %>
				<div class="col-xs-12 col-sm-6 col-md-4" style="padding:0;">
					<div class="top_dish_container">
						<a href="/app/network/restaurant/<%= dish.restaurant.id %>" class="full_dish_link"></a>
						<div class="dish-picture imageCroppedFull" style="background-image: url(<%= dish.img_src %>); border-radius: 0;">							
							<span class="dish_rating">
								<%= raw(stars dish.rating) %>
							</span>
							<div class="dish-description">
								<span><%= dish.name %></span>
								<p><%= dish.description[0..110] %><%= dish.description.length > 110 ? "..." : nil %></p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>	

<script>
	[
		"<%= stylesheet_path 'network'%>",
	].forEach(function(src) {
		var l = document.createElement('link'); 
		l.rel = 'stylesheet';
		l.href = src;
		document.head.appendChild(l);
	});

	var scripts = [
		"<%= javascript_path 'application' %>",
    	"<%= javascript_path 'menu_editor' %>",
    	"<%= javascript_path 'network_index_javascript' %>",
	];
	var src;
	var script;
	var pendingScripts = [];
	var firstScript = document.scripts[0];

	// Watch scripts load in IE
	function stateChange() {
	  // Execute as many scripts in order as we can
	  var pendingScript;
	  while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
	    pendingScript = pendingScripts.shift();
	    // avoid future loading events from this script (eg, if src changes)
	    pendingScript.onreadystatechange = null;
	    // can't just appendChild, old IE bug if element isn't closed
	    firstScript.parentNode.insertBefore(pendingScript, firstScript);
	  }
	}

	// loop through our script urls
	while (src = scripts.shift()) {
	  if ('async' in firstScript) { // modern browsers
	    script = document.createElement('script');
	    script.async = false;
	    script.src = src;
	    document.head.appendChild(script);
	  }
	  else if (firstScript.readyState) { // IE<10
	    // create a script and add it to our todo pile
	    script = document.createElement('script');
	    pendingScripts.push(script);
	    // listen for state changes
	    script.onreadystatechange = stateChange;
	    // must set src AFTER adding onreadystatechange listener
	    // else we’ll miss the loaded event for cached scripts
	    script.src = src;
	  }
	  else { // fall back to defer
	    document.write('<script src="' + src + '" defer></'+'script>');
	  }
	}			

</script>	

