<div class="network_header fixed">
    <div class="container">
        <div id="logo">
            <a href="/app/network">
                <img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/DishGo_Logo_Network.png" class="img-responsive">
            </a>
        </div>
        <!-- <form class="form-inline col-xs-4" role="form" data-bind="visible: top_search">
            <div class="form-group">
                <div class="controls">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input id="#" name="#" type="text" placeholder="Search" class="form-control" data-bind="hasFocus: top_search, value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-search">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
     -->
        <div id="login_buttons">
            <ul>
                <div style="display:inline;" data-bind="foreach: languages">
                    <li data-bind="css:{selected: $data === $root.lang()}, click: function(){ $root.lang($data); $root.display_menu(false) }"><a data-bind="text: $root.getFullLangName($data)"></a></li>
                </div>
                <li><a href="/app/users/sign_in" class="btn btn-none" style="margin-right:-3px;">Log In</a></li>
                <li><a href="/app/letsdishgo" class="sign_up_button btn btn-search">Get Listed</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="network_menu_header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="restaurant_logo_wrap">
                        <div class="restaurant_logo">
                            <div class="restaurant-data pull-left">
                                <div class="restaurant-pic pull-left">
                                    <span class="restaurant-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                                    <span class="restaurant-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                                    <span class="restaurant-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                                    <a href="#">
                                        <img src="http://placehold.it/600x600" alt="" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="resto_details">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 padme">
                    <div class="restaurant-title">
                        <%= @restaurant.name %>
                    </div>
                    <address class="hi">
                        <%= @restaurant.address_line_1 %>
                        <%= @restaurant.city %>
                        <%= @restaurant.postal_code %>
                        <br/>
                        <a href="tel:<%= @restaurant.phone %>"><%= @restaurant.phone %></a>
                </address>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 padme">
                    <div class="counter-tab">
                        <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 359</div>
                        <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                    <div class="bot-links">
                       
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 padme">
                    <div id="opened_or_closed_footer" data-bind="with: restaurant, click: function() { goto_and_kill_menu('contact') }">
                        <h4 data-bind="visible: showHourSign">
                        <span class="currently_open_tag"  data-bind="lStaticText: 'currently'"> </span>
                        <span class="currently_open" data-bind="css:{'hours_opened':areWeOpened(),'hours_closed':!areWeOpened()}, lStaticText: areWeOpenedText"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="menu_sections">
            <!-- ko foreach: menus -->
            <button class="btn btn-default each_section" data-bind="click: function(){ $root.selected_menu($data) }, lText: name"></button>
            <!-- /ko -->
        </div>
    </div>

    <div data-bind="visible: true" style="display:none">
        <!-- ko foreach: menus -->
            <%= render 'menu' %>
        <!-- /ko -->
    </div>
</div>

<script>
    var restaurant_id = "<%= params[:restaurant_id]%>";
    var menu_data = <%= @menu_data ? raw(@menu_data) : {} %>;
    var resto_data = <%= raw(@resto_data.to_json) %>;   

    [
        "<%= stylesheet_path 'network'%>",
    ].forEach(function(src) {
        var l = document.createElement('link'); 
        l.rel = 'stylesheet';
        l.href = src;
        document.head.appendChild(l);
    });

    var scripts = [
        "<%= javascript_path 'application' %>",
        "<%= javascript_path 'menu_editor' %>",
        "<%= javascript_path 'network_restaurant_javascript' %>",
    ];
    var src;
    var script;
    var pendingScripts = [];
    var firstScript = document.scripts[0];

    // Watch scripts load in IE
    function stateChange() {
      // Execute as many scripts in order as we can
      var pendingScript;
      while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
        pendingScript = pendingScripts.shift();
        // avoid future loading events from this script (eg, if src changes)
        pendingScript.onreadystatechange = null;
        // can't just appendChild, old IE bug if element isn't closed
        firstScript.parentNode.insertBefore(pendingScript, firstScript);
      }
    }

    // loop through our script urls
    while (src = scripts.shift()) {
      if ('async' in firstScript) { // modern browsers
        script = document.createElement('script');
        script.async = false;
        script.src = src;
        document.head.appendChild(script);
      }
      else if (firstScript.readyState) { // IE<10
        // create a script and add it to our todo pile
        script = document.createElement('script');
        pendingScripts.push(script);
        // listen for state changes
        script.onreadystatechange = stateChange;
        // must set src AFTER adding onreadystatechange listener
        // else we’ll miss the loaded event for cached scripts
        script.src = src;
      }
      else { // fall back to defer
        document.write('<script src="' + src + '" defer></'+'script>');
      }
    }           

</script>   

<div itemscope itemtype="http://schema.org/Organization" style="display: none"> 
    <span itemprop="name"><%= @resto_data["name"] %></span> 
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress"><%= @resto_data["address_line_1"] %></span>,
        <span itemprop="addressLocality"><%= @resto_data["city"] %></span>,
        <span itemprop="addressRegion"><%= @resto_data["province"] %></span>.
    </div>
    <span itemprop="telephone"><%= @resto_data["phone"] %></span>
</div>

<% if !@resto_data["lat"].blank? %>
    <div itemprop="location" style="display: none">
      <span itemscope itemtype="http://schema.org/Place">
        <div itemprop="geo">
          <span itemscope itemtype="http://schema.org/GeoCoordinates">
            <span property="latitude" content="<%= @resto_data['lat'] %>"></span>
            <span property="longitude" content="<%= @resto_data['lon'] %>"></span>
          </span>
        </div>
      </span>
    </div>
<% end %>   