<div class="container network_menu_header">
    <div class="row">
        <div class="col-md-4">
        	<div class="restaurant-data pull-left">
            	<div class="restaurant-pic pull-left">
            		<span class="restaurant-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
            		<span class="restaurant-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
            		<span class="restaurant-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
            		<a href="#">
            			<img src="http://placehold.it/122x122" alt="" class="img-responsive" />
            		</a>
            	</div>
                <div class="restaurant-prfle pull-right">
                	<div class="restaurant-title">
                    	<%= @restaurant.name %>
                    </div>
                    <div class="counter-tab">
                    	<div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 359</div>
                    	<div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                </div>
                <div class="bot-links">
                    <% @restaurant.category.each do |category| %>
                	   <a href="#"><%= category %></a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!-- ko foreach: menus -->
                <button class="btn btn-default" data-bind="click: function(){ $root.selected_menu($data) }, lText: name"></button>
            <!-- /ko -->
        </div>
    </div>        
</div>

<div data-bind="visible: true" style="display:none">
    <!-- ko foreach: menus -->
        <%= render 'menu' %>
    <!-- /ko -->
</div>

<script>
    var restaurant_id = "<%= params[:restaurant_id]%>";
    var menu_data = <%= @menu_data ? raw(@menu_data) : {} %>;
    var resto_data = <%= raw(@resto_data.to_json) %>;   

    [
        "<%= stylesheet_path 'network'%>",
    ].forEach(function(src) {
        var l = document.createElement('link'); 
        l.rel = 'stylesheet';
        l.href = src;
        document.head.appendChild(l);
    });

    var scripts = [
        "<%= javascript_path 'application' %>",
        "<%= javascript_path 'menu_editor' %>",
        "<%= javascript_path 'network_javascript' %>",
    ];
    var src;
    var script;
    var pendingScripts = [];
    var firstScript = document.scripts[0];

    // Watch scripts load in IE
    function stateChange() {
      // Execute as many scripts in order as we can
      var pendingScript;
      while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
        pendingScript = pendingScripts.shift();
        // avoid future loading events from this script (eg, if src changes)
        pendingScript.onreadystatechange = null;
        // can't just appendChild, old IE bug if element isn't closed
        firstScript.parentNode.insertBefore(pendingScript, firstScript);
      }
    }

    // loop through our script urls
    while (src = scripts.shift()) {
      if ('async' in firstScript) { // modern browsers
        script = document.createElement('script');
        script.async = false;
        script.src = src;
        document.head.appendChild(script);
      }
      else if (firstScript.readyState) { // IE<10
        // create a script and add it to our todo pile
        script = document.createElement('script');
        pendingScripts.push(script);
        // listen for state changes
        script.onreadystatechange = stateChange;
        // must set src AFTER adding onreadystatechange listener
        // else we’ll miss the loaded event for cached scripts
        script.src = src;
      }
      else { // fall back to defer
        document.write('<script src="' + src + '" defer></'+'script>');
      }
    }           

</script>   

<div itemscope itemtype="http://schema.org/Organization" style="display: none"> 
    <span itemprop="name"><%= @resto_data["name"] %></span> 
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress"><%= @resto_data["address_line_1"] %></span>,
        <span itemprop="addressLocality"><%= @resto_data["city"] %></span>,
        <span itemprop="addressRegion"><%= @resto_data["province"] %></span>.
    </div>
    <span itemprop="telephone"><%= @resto_data["phone"] %></span>
</div>

<% if !@resto_data["lat"].blank? %>
    <div itemprop="location" style="display: none">
      <span itemscope itemtype="http://schema.org/Place">
        <div itemprop="geo">
          <span itemscope itemtype="http://schema.org/GeoCoordinates">
            <span property="latitude" content="<%= @resto_data['lat'] %>"></span>
            <span property="longitude" content="<%= @resto_data['lon'] %>"></span>
          </span>
        </div>
      </span>
    </div>
<% end %>   