<!-- SEARCH RESULTS WILL APPEAR HERE -->
<%= render 'restaurant_search_results' %>
<%= render 'dish_search_results' %>

<div class="page-container" data-bind="slideVisible: !top_search()">
    <div class="network_menu_header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="restaurant_logo_wrap">
                        <div class="restaurant_logo">
                            <% if @restaurant.logo %>
                                <div class="imageCroppedOneHundredPercent" style="background-image: url('<%= @restaurant.logo.img_url_original %>')">&nbsp;</div>                                                                                                                                  
                            <% elsif @restaurant.image.length > 0 %>
                                <div class="imageCroppedOneHundredPercent" style="background-image: url('<%= @restaurant.image.profile_images.first.img_url_original %>')">&nbsp;</div>                                                                                                                                  
                            <% end %>
                        </div>
                        <span class="btn btn-fb-share resto-fb-share" data-bind="click: function(){ $root.shareFb }"><span data-bind="localize">Share</span> <i class="fa fa-facebook"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="resto_details">
        <div class="container">
            <div class="row" style="position: relative">
                <div class="claim">
                    <a href="/app/letsdishgo" class="btn btn-none">Claim this page</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 padme" style="border-right: 1px solid #f4f4f2; border-right: 1px solid rgba(0,0,0,.03);">
                    <div class="restaurant-title">
                        <%= @restaurant.name %>
                    </div>
                    <address class="hi">
                        <%= @restaurant.address_line_1 %>,
                        <%= @restaurant.city %>,
                        <%= @restaurant.postal_code %>
                        <br/>
                        <a href="tel:<%= @restaurant.phone %>"><%= @restaurant.phone %></a>
                </address>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 padme" style="border-right: 1px solid #f4f4f2; border-right: 1px solid rgba(0,0,0,.03);">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bot-links">
                                <div id="opened_or_closed_footer" data-bind="with: restaurant">
                                    <p style="margin-top:10px;" data-bind="visible: showHourSign">
                                    <span data-bind="localize">Opening Hours</span>
                                    <span class="currently_open" data-bind="css:{'hours_opened':areWeOpened(),'hours_closed':!areWeOpened()}, lStaticText: areWeOpenedText"></span></p>
                                </div>                       
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="col-xs-10">
                            <span>Categories</span>
                        </div>
                    </div>
                </div>
                <div class="menu_sections">
                    <ul class="section-tab-menu tab-menu" data-bind="foreach: menus">
                        <li data-bind="css:{active: $data==$root.selected_menu()}"><span class="clicker" data-bind="click: function(){ $root.selected_menu($data); console.log('hi') }"></span><span data-bind="lText:name"></span></li>
                    </ul>                       
                </div>
            </div>           
        </div>       
    </div>

    <div data-bind="visible: true" style="display:none">
        <!-- ko foreach: menus -->
            <%= render 'menu' %>
        <!-- /ko -->
    </div>
</div>

<script>
    var restaurant_id = "<%= params[:restaurant_id]%>";
    var menu_data = <%= @menu_data ? raw(@menu_data) : {} %>;
    var resto_data = <%= raw(@resto_data.to_json) %>;   

    [
        "<%= stylesheet_path 'network'%>",
    ].forEach(function(src) {
        var l = document.createElement('link'); 
        l.rel = 'stylesheet';
        l.href = src;
        document.head.appendChild(l);
    });

    var scripts = [
        "<%= javascript_path 'application' %>",
        "<%= javascript_path 'menu_editor' %>",
        "<%= javascript_path 'network_restaurant_javascript' %>",
    ];
    var src;
    var script;
    var pendingScripts = [];
    var firstScript = document.scripts[0];

    // Watch scripts load in IE
    function stateChange() {
      // Execute as many scripts in order as we can
      var pendingScript;
      while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
        pendingScript = pendingScripts.shift();
        // avoid future loading events from this script (eg, if src changes)
        pendingScript.onreadystatechange = null;
        // can't just appendChild, old IE bug if element isn't closed
        firstScript.parentNode.insertBefore(pendingScript, firstScript);
      }
    }

    // loop through our script urls
    while (src = scripts.shift()) {
      if ('async' in firstScript) { // modern browsers
        script = document.createElement('script');
        script.async = false;
        script.src = src;
        document.head.appendChild(script);
      }
      else if (firstScript.readyState) { // IE<10
        // create a script and add it to our todo pile
        script = document.createElement('script');
        pendingScripts.push(script);
        // listen for state changes
        script.onreadystatechange = stateChange;
        // must set src AFTER adding onreadystatechange listener
        // else we’ll miss the loaded event for cached scripts
        script.src = src;
      }
      else { // fall back to defer
        document.write('<script src="' + src + '" defer></'+'script>');
      }
    }           

</script>   

<div itemscope itemtype="http://schema.org/Organization" style="display: none"> 
    <span itemprop="name"><%= @resto_data["name"] %></span> 
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress"><%= @resto_data["address_line_1"] %></span>,
        <span itemprop="addressLocality"><%= @resto_data["city"] %></span>,
        <span itemprop="addressRegion"><%= @resto_data["province"] %></span>.
    </div>
    <span itemprop="telephone"><%= @resto_data["phone"] %></span>
</div>

<% if !@resto_data["lat"].blank? %>
    <div itemprop="location" style="display: none">
      <span itemscope itemtype="http://schema.org/Place">
        <div itemprop="geo">
          <span itemscope itemtype="http://schema.org/GeoCoordinates">
            <span property="latitude" content="<%= @resto_data['lat'] %>"></span>
            <span property="longitude" content="<%= @resto_data['lon'] %>"></span>
          </span>
        </div>
      </span>
    </div>
<% end %>   