    <!-- Fixed navbar -->
    <div id="dishgo_bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header" style="margin-right: 15px">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/app/administration" style="margin-top: -3px;" title="<%= current_user.email %>"><img src="/app/public/logo_white_nav.png" height="25"/></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= active_link('administration','index') %>"><a href="/app/administration">Home</a></li>
            <% if user_signed_in? %>
              <% if current_user.owns_restaurants %>
                  <li class="<%= active_link('profile','edit') %>">
                    <!-- ko stopBinding -->
                      <a href="/app/profile/edit">Profile</a>
                      <span id="profile_alert_circle" data-bind="text: notificationCount, visible: notificationVisible"></span>
                    <!-- /ko -->
                  </li>             
                  <li class="<%= active_link('website','index') %>"><a href="/app/website/index">Edit Website</a></li>            
                  <li class="<%= active_link('administration','edit_menu') %>"><a href="/app/administration/edit_menu?restaurant_id=<%= current_user.owns_restaurants.id %>">Edit Menu</a></li>
                <% if !current_user.cash_money %>
                  <li class="<%= active_link('profile','billing') %>"><a href="/app/profile/billing">Billing</a></li>
                <% end %>
              <% end %>
              <% if admin_user? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="<%= active_link('administration','users') %>"><a href="/app/administration/users">Users</a></li>
                    <li class="<%= active_link('administration','restaurants') %>"><a href="/app/administration/restaurants">Restaurants</a></li>
                    <li class="<%= active_link('design','list') %>"><a href="/app/design/list">Designs</a></li>
                    <li class="<%= active_link('design','fonts') %>"><a href="/app/design/fonts">Fonts</a></li>
                    <li class="<%= active_link('copymenu','index') %>"><a href="/app/copymenu">Copy Menu</a></li>
                  </ul>
                </li>              
              <% end %>
            <% end %>
            <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
            <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>  
            </li>
            <% end %>
            <% if token = current_user.get_preview_token %>
              <li id="preview_site">
                <a href="/app/onlinesite/preview/<%= token %>" target="_blank">Preview Site</a>
              </li>         
            <% end %>          
          </ul>

          <% if current_page?(controller: "administration", action: "edit_menu") %>
            <ul class="nav navbar-nav navbar-right">
              <li class="saving_monitor" data-bind="saving: $root.saving_monitor">

              </li>              
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Menus <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <!-- ko foreach: $root.menus -->
                    <li data-bind="click: function(item){ $root.current_menu(item) }">
                      <a data-bind="lText: name"></a>
                    </li>
                  <!-- /ko -->
                  <li data-bind="click: $root.add_menu">
                    <a>+ Add Menu</a>
                  </li>
                </ul>
              </li>              
              <li data-bind="click: publishMenu" id="saveMenu">
                <a>Publish <i class="glyphicon glyphicon-ok"></i> </a>
              </li>
            </ul>                          
          <% end %>

        </div> <!-- collapse -->

      </div>
    </div>
  </div>

<div data-bind="stopBinding">
  <div id="dishgo_helper">
    <i class="fa fa-question-circle" data-bind="click: function(){ showHelp(!showHelp()) }"></i>
    <div data-bind="visible: showHelp" style="display:none">
      <div id="bg"></div>
      <div id="help_form_on_top" data-bind="visible: showHelp" style="display:none">
        <div id="help_form">
          <h2>Let's see if we can help!</h2>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <p>Write a short description of your problem, and we'll get back to you as soon as possible!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea data-bind="value: helpText"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">          
              <button class="btn btn-default pull-left col-xs-4" data-bind="click: function(){ showHelp(!showHelp()) }">Cancel</button>
              <button class="btn btn-dish pull-right col-xs-4" data-bind="click: sendHelp">Help!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script type='text/javascript'>//<![CDATA[ 

      function Notification(data) {
          var self = this;
          self.id = data._id;
          self.message = data.message;
          self.read = ko.observable(data.read);           
      }

      ko.bindingHandlers.stopBinding = {
          init: function() {
              return { controlsDescendantBindings: true };
          }
      };
      ko.virtualElements.allowedBindings.stopBinding = true; 

      var notification_data = <%= raw(current_user.notifications.as_json.to_json) %>;

      function HelpViewModel() {
        // Data
        var self = this;
        self.showHelp = ko.observable(false);
        self.helpText = ko.observable("");

        self.notifications = ko.observableArray([]);

        _.each(notification_data,function(note){ self.notifications.push(new Notification(note)) });

        self.notificationCount = ko.computed(function(){
          var c = 0;
          _.each(self.notifications(),function(e){ 
            if(!e.read()){
              c++;
            }
          });
          return c;
        });

        self.notificationVisible = ko.computed(function(){
          return self.notificationCount() > 0;
        });

        self.sendHelp = function(){
          $.ajax({
            type: "POST",
            url: "/app/administration/helpme",
            data: {
              viewmodel: ko.toJSON(viewmodel),
              console: ko.global_log_file,
              user_agent: navigator.userAgent,
              user_message: self.helpText(),
              location: window.location.href,
            },
            success: function(data, textStatus, jqXHR){
              self.showHelp(false);
              self.helpText("");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 

            },
            dataType: "json"
          });
        }         
      }

      var helpmodel = new HelpViewModel();

      $(function(){ 
          ko.applyBindings(helpmodel,$("#dishgo_helper")[0]);
          if($("#profile_alert_circle")[0]){              
            ko.applyBindings(helpmodel,$("#profile_alert_circle")[0]);                 
          }
      });

    //]]>
    </script>
</div>