<div id="network_background"></div>
<div class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center" style="text-shadow: 1px 2px 3px #000;">
				<h1>Add your restaurant on DishGo</h1>
				<p style="">It's easy and it's free!</p>
			</div>
		</div>
	</div>
</div>
<div class="bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center" style="margin-bottom:20px;">
				<h1>Thousands of Montrealers use DishGo everyday.</h1>
			</div>
			<div class="col-xs-12 text-center" style="margin-bottom:20px;">
				<p style="font-size:18px;">Here's Why</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="icon-head">
					<i class="fa fa-list-alt"></i>
				</div>
				<h2>Menus</h2>
				<p>We're the number one source of detailed restaurant menus in Montreal. We help users find the food they're craving.</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="icon-head">
					<i class="fa fa-search"></i>
				</div>
				<h2>Dish Search</h2>
				<p>By listing your menu with DishGo, users can search for individual foods like "Poutine". If that's on your menu, your restaurant will appear.</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="icon-head">
					<i class="fa fa-star-half-o"></i>
				</div>
				<h2>Dish Ratings & Images</h2>
				<p>We have thousands of dish images and ratings which help our users discovery new things to eat.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4" style="margin-top:20px;">
				<a href="/dishgo/business/advertise" class="btn btn-rewards center-block" style="font-size:24px;">Advertise with DishGo</a>
			</div>
		</div>
	</div>
</div>
<div class="bg-dark-1" data-bind="visible: !sent()">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 style="margin-bottom:35px; text-shadow: 1px 2px 3px #000;">Enter your Restaurant Name</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group col-xs-12">
                    <div class="controls">
                    	<div class="input-group input-group-lg">
		                	<div class="input-group-addon"><i class="fa fa-building-o"></i></div>
                        	<input id="resturant_name" name="resturant_name" type="text" placeholder="Restaurant Name" data-bind="value: restaurant_name" class="form-control">
                        </div>
                    </div>
                </div>
        	</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 style="margin-bottom:35px; padding-top:0;text-shadow: 1px 2px 3px #000;">Now enter your contact details so that we get in touch with you</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group col-xs-12">
                    <div class="controls">
                    	<div class="input-group input-group-lg">
		                	<div class="input-group-addon"><i class="fa fa-user"></i></div>
                        	<input id="" name="" type="text" placeholder="Full Name" data-bind="value: name" class="form-control">
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-sm-4">
				<div class="form-group col-xs-12">
                    <div class="controls">
                    	<div class="input-group input-group-lg">
		                	<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                        	<input id="" name="" type="text" placeholder="Email Address" data-bind="value: email" class="form-control">
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-sm-4">
				<div class="form-group col-xs-12">
                    <div class="controls">
                    	<div class="input-group input-group-lg">
		                	<div class="input-group-addon"><i class="fa fa-phone"></i></div>
                        	<input id="" name="" type="text" placeholder="555-555-5555" data-bind="value: phone" class="form-control">
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-rewards center-block" data-bind="click: function(){ $root.submit() }">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="bg-dark-grey">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center" style="margin-bottom:20px;">
				<h1>Need a Website?</h1>
			</div>
			<div class="col-xs-12 text-center">
				<p style="font-size:18px;margin-bottom:-30px;">We build beautiful ones starting at $59/month. Here are some of our Happy Clients</p>
			</div>
		</div>
		<div class="row buiz_pics">
			<div class="col-sm-4">
				<a href="http://www.slanglab.com"><img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/slang_logo.png" class="img-responsive"></a>
				<a href="http://www.slanglab.com" class="text-center"><h4>www.slanglab.com</h4></a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.sublimevaudreuil.com"><img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/sublime-logo.png" class="img-responsive"></a>
				<a href="http://www.sublimevaudreuil.com" class="text-center"><h4>www.sublimevaudreuil.com</h4></a>
			</div>
			<div class="col-sm-4">
				<a href="http://www.cunninghamspub.com"><img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/cunninghams-logo.png" class="img-responsive"></a>
				<a href="http://www.cunninghamspub.com" class="text-center"><h4>www.cunninghamspub.com</h4></a>
			</div>
		</div>
	</div>
</div>

<script>
	[
		"<%= stylesheet_path 'network'%>",
		"<%= stylesheet_path 'business'%>",
	].forEach(function(src) {
		var l = document.createElement('link'); 
		l.rel = 'stylesheet';
		l.href = src;
		document.head.appendChild(l);
	});

	var scripts = [
		"<%= javascript_path 'application' %>",
    	"<%= javascript_path 'menu_editor' %>",
    	"<%= javascript_path 'bidness_javascript' %>",
	];
	var src;
	var script;
	var pendingScripts = [];
	var firstScript = document.scripts[0];

	// Watch scripts load in IE
	function stateChange() {
	  // Execute as many scripts in order as we can
	  var pendingScript;
	  while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
	    pendingScript = pendingScripts.shift();
	    // avoid future loading events from this script (eg, if src changes)
	    pendingScript.onreadystatechange = null;
	    // can't just appendChild, old IE bug if element isn't closed
	    firstScript.parentNode.insertBefore(pendingScript, firstScript);
	  }
	}

	// loop through our script urls
	while (src = scripts.shift()) {
	  if ('async' in firstScript) { // modern browsers
	    script = document.createElement('script');
	    script.async = false;
	    script.src = src;
	    document.head.appendChild(script);
	  }
	  else if (firstScript.readyState) { // IE<10
	    // create a script and add it to our todo pile
	    script = document.createElement('script');
	    pendingScripts.push(script);
	    // listen for state changes
	    script.onreadystatechange = stateChange;
	    // must set src AFTER adding onreadystatechange listener
	    // else we’ll miss the loaded event for cached scripts
	    script.src = src;
	  }
	  else { // fall back to defer
	    document.write('<script src="' + src + '" defer></'+'script>');
	  }
	}			

</script>