<div class="top_five_header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="top_five_title" data-bind="lText: name"><%= first_non_empty(@top_five.name_translations) %></h1>
            </div>
        </div>
    </div>
</div>
<div class="container top_five_tool">
    <div class="row">
    	<div class="col-sm-8 main-bar" data-bind="with: current_top_five">
            <div class="col-xs-12" style="padding-left:0;">
            	<p class="top_five_description" data-bind="lText: description"><%= first_non_empty(@top_five.description_translations) %></p>
            </div>                
            <% @top_five.dish.top_five.each do |dish| %>
                <div class="top_dish_container" data-bind="with_dish: '<%= dish.id %>'">
                    <div class="col-sm-4" style="padding:0 0 0 30px;">
                        <div class="top_dish_rating_container">
                            <!-- <span class="rank">#1</span> -->
                            <span class="restaurant_name"><%= dish.restaurant_name %></span>
                            <span class="dish_title"><%= first_non_empty(dish.name_translations) %></span>
                            <!-- <p><%= first_non_empty_truncated(dish.description_translations) %></p> -->
                            <!-- ko with: ratingObject -->
                                <!-- IF THE REVIEW HAS **NOT** BEEN SUBMITTED, WE MAKE IT LOOK DIFFERENT -->
                                <!-- ko if: !id() -->
                                    <p>Rate this dish to win</p>
                                    <div class="pop_up_menu_dish_rating" data-bind="writableStarRatingTopFive: rating"></div>
                                    <p>Add some comments:</p>
                                    <textarea rows="6" class="description form-control" placeholder="Write your review here." data-bind="value: review, valueUpdate: 'afterkeydown'"></textarea>
                                    <button class="btn btn-rewards" data-bind="click: function(){ $data.rate($parent.id()); }">Submit</button>
                                <!-- /ko -->
                                <!-- IF THE REVIEW HAS BEEN SUBMITTED, WE MAKE IT LOOK DIFFERENT -->
                                <!-- ko if: id() -->
                                    <p>Your rating:</p>
                                    <div class="pop_up_menu_dish_rating" data-bind="starRating: rating"></div>
                                    <p data-bind="text: review"></p>
                                <!-- /ko -->                                
                            <!-- /ko -->
                        </div>
                    </div>
                	<div class="col-sm-8" style="padding: 0 0 0 15px;">
                			<div class="dish-picture imageCroppedFull" style="background-image: url(<%= dish.img_src_orig %>); border-radius: 0; height: 400px"></div>
                    </div>
                </div>
            <% end %>       
        </div>		
        <div class="col-sm-4 sidebar hidden-xs">
            <div class="col-xs-12 trending">
                <h2>What's Trending</h2> <!-- add 4 trending dishes from home page -->
                <div class="row">
                   <!--  link dishes to menu -->
                    <a href="/app/network/restaurant/530bd15180410efe300050be" class="sidebar_dish_link"></a>
                    <div class="col-xs-6" data-bind="" style="">
                        <div class="image-cropped" style="background-image: url(https://36ec5e865094a74ec4cb-2d8ae1874a396bdb82dfc36ab7e38695.ssl.cf5.rackcdn.com/1935c9a93cebd220150e69604948f1e9cc8b08c9_medium.png?1408412121);">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="dish-title">
                            <p>Creamed Spinach & Reggiano Cheese Dip</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h2>Prizes</h2>
                <!-- toss in a few coupons from the prize page -->
                <h3 data-bind="with: $root.user">You have <span style="color:#cf2f28;" data-bind="text: top_five_dishcoins"></span> entries in this contest</h3>
            </div>
            <div class="col-xs-12" data-bind="with: current_top_five">
                <ul class="list-prizes" data-bind="foreach: prizes">
                    <li class="list-prizes-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <h4 class="restaurant_name" data-bind="text: restaurant_name"></h4>
                            </div>                          
                        </div>                        
                        <div class="row">
                            <div class="col-xs-10">
                                <span class="coupon_name" data-bind="lText: name"></span>
                            </div>                           
                        </div>
                        <div class="cnrflash">
                            <div class="cnrflash-inner">
                            <span class="cnrflash-label"><span data-bind="visible: prize_type() == '$'">$</span><!-- ko text: amount --><!-- /ko --><span data-bind="visible: prize_type() == '%'">%</span></span>
                            </div>
                        </div>                       
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <p>Share with your friends for more entries</p>
                <button data-bind="click: function(){ $root.shareTopFiveFB() }" class="btn btn-fb-network-share">Share on <i class="fa fa-facebook"></i></button>
                <input class="copybox" data-bind="value: 'https://dishgo.io/top_five/' + $root.current_top_five().beautiful_url() + '/' + $root.user().id()">
            </div>
        </div>
    </div>
</div>


<script>
	var top_five = <%= raw(@top_five.serializable_hash({export_localized:true,include_reviews:current_user}).to_json) %>;
    var top_five_id = "<%= @top_five.id %>";
    [
        "<%= stylesheet_path 'network'%>",
    ].forEach(function(src) {
        var l = document.createElement('link'); 
        l.rel = 'stylesheet';
        l.href = src;
        document.head.appendChild(l);
    });

    var scripts = [
        "<%= javascript_path 'application' %>",
        "<%= javascript_path 'menu_editor' %>",
        "<%= javascript_path 'top_five_javascript' %>",
        "<%= javascript_path 'social_share' %>",
    ];
    var src;
    var script;
    var pendingScripts = [];
    var firstScript = document.scripts[0];

    // Watch scripts load in IE
    function stateChange() {
      // Execute as many scripts in order as we can
      var pendingScript;
      while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
        pendingScript = pendingScripts.shift();
        // avoid future loading events from this script (eg, if src changes)
        pendingScript.onreadystatechange = null;
        // can't just appendChild, old IE bug if element isn't closed
        firstScript.parentNode.insertBefore(pendingScript, firstScript);
      }
    }

    // loop through our script urls
    while (src = scripts.shift()) {
      if ('async' in firstScript) { // modern browsers
        script = document.createElement('script');
        script.async = false;
        script.src = src;
        document.head.appendChild(script);
      }
      else if (firstScript.readyState) { // IE<10
        // create a script and add it to our todo pile
        script = document.createElement('script');
        pendingScripts.push(script);
        // listen for state changes
        script.onreadystatechange = stateChange;
        // must set src AFTER adding onreadystatechange listener
        // else we’ll miss the loaded event for cached scripts
        script.src = src;
      }
      else { // fall back to defer
        document.write('<script src="' + src + '" defer></'+'script>');
      }
    }           

</script>  