<div class="container top_five_tool">
    <div class="row">
    	<div class="col-sm-8 main-bar" data-bind="with: current_top_five">
            <div class="col-xs-12">
            	<h2 class="top_five_title" data-bind="lText: name"><%= first_non_empty(@top_five.name_translations) %></h2>
            	<p class="top_five_description" data-bind="lText: description"><%= first_non_empty(@top_five.description_translations) %></p>
            </div>                
            <% @top_five.dish.each do |dish| %>
                <div class="top_dish_container" data-bind="with_dish: '<%= dish.id %>'">
                    <div class="col-sm-4" style="padding:0 0 0 30px;">
                        <div class="top_dish_rating_container">
                            <!-- <span class="rank">#1</span> -->
                            <span class="restaurant_name">
                                        Tim's Burger Joint
                                    </span>
                            <span class="dish_title"><%= first_non_empty(dish.name_translations) %></span>
                            <!-- <p><%= first_non_empty_truncated(dish.description_translations) %></p> -->
                            <!-- ko with: ratingObject -->
                                <p>Rate this dish to win</p>
                                <div class="pop_up_menu_dish_rating" data-bind="writableStarRating: rating"></div>
                                <p>Add some comments:</p>
                                <textarea rows="6" class="description form-control" placeholder="Write your review here." data-bind="value: review, valueUpdate: 'afterkeydown'"></textarea>
                                <button class="btn btn-rewards">Submit</button>
                            <!-- /ko -->
                        </div>
                    </div>
                	<div class="col-sm-8">
                			<div class="dish-picture imageCroppedFull" style="background-image: url(<%= dish.img_src_orig %>); border-radius: 0; height: 400px"></div>
                    </div>
                </div>
            <% end %>       
        </div>		
        <div class="col-sm-4 sidebar hidden-xs">
            <div class="col-xs-12 trending">
                <h2>What's Trending</h2> <!-- add 4 trending dishes from home page -->
                <div class="row">
                   <!--  link dishes to menu -->
                    <a href="/app/network/restaurant/530bd15180410efe300050be" class="sidebar_dish_link"></a>
                    <div class="col-xs-6" data-bind="" style="">
                        <div class="image-cropped" style="background-image: url(https://36ec5e865094a74ec4cb-2d8ae1874a396bdb82dfc36ab7e38695.ssl.cf5.rackcdn.com/1935c9a93cebd220150e69604948f1e9cc8b08c9_medium.png?1408412121);">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="dish-title">
                            <p>Creamed Spinach & Reggiano Cheese Dip</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h2>Prizes</h2>
                <!-- toss in a few coupons from the prize page -->
            </div>
        </div>
    </div>
</div>


<script>
	var top_five = <%= raw(@top_five.serializable_hash({export_localized:true,include_reviews:current_user}).to_json) %>;
    [
        "<%= stylesheet_path 'network'%>",
    ].forEach(function(src) {
        var l = document.createElement('link'); 
        l.rel = 'stylesheet';
        l.href = src;
        document.head.appendChild(l);
    });

    var scripts = [
        "<%= javascript_path 'application' %>",
        "<%= javascript_path 'menu_editor' %>",
        "<%= javascript_path 'top_five_javascript' %>",
        "<%= javascript_path 'social_share' %>",
    ];
    var src;
    var script;
    var pendingScripts = [];
    var firstScript = document.scripts[0];

    // Watch scripts load in IE
    function stateChange() {
      // Execute as many scripts in order as we can
      var pendingScript;
      while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
        pendingScript = pendingScripts.shift();
        // avoid future loading events from this script (eg, if src changes)
        pendingScript.onreadystatechange = null;
        // can't just appendChild, old IE bug if element isn't closed
        firstScript.parentNode.insertBefore(pendingScript, firstScript);
      }
    }

    // loop through our script urls
    while (src = scripts.shift()) {
      if ('async' in firstScript) { // modern browsers
        script = document.createElement('script');
        script.async = false;
        script.src = src;
        document.head.appendChild(script);
      }
      else if (firstScript.readyState) { // IE<10
        // create a script and add it to our todo pile
        script = document.createElement('script');
        pendingScripts.push(script);
        // listen for state changes
        script.onreadystatechange = stateChange;
        // must set src AFTER adding onreadystatechange listener
        // else we’ll miss the loaded event for cached scripts
        script.src = src;
      }
      else { // fall back to defer
        document.write('<script src="' + src + '" defer></'+'script>');
      }
    }           

</script>  