<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>User: <%= @from %></h3>
    <h4>Time: <%= @time %></h4>
    <h4>Location: <%= @location %></h4>
    <h4>User Agent: <%= @user_agent %></h4>
    <hr>
    <h4>Message:</h4>
    <p><%= @message %></p>
    <hr>    
  </body>
</html>