<div class="container">

    <div class="col-xs-12 col-md-4">
        <h3>Select a design: </h3>
        <div data-bind="template: { name: 'pick_design_template', foreach: designs }"></div>
    </div>

    <div class="col-xs-12 col-md-8" data-bind="with: current_design">
        <div data-bind="template: { name: 'customize_design_template', data: $root.current_design }"></div>
    </div>

    <%= render 'shared/restaurant_template' %>
    <%= render 'shared/custom_design_template' %>
    <%= render 'shared/design_javascript' %>
    <%= render 'shared/font_javascript' %>
    <%= render 'shared/restaurant_javascript' %>

    <script type='text/javascript'>//<![CDATA[ 

        var design_data = <%= raw(@designs.to_json) %>;
        var font_data = <%= raw(@fonts.to_json) %>;
        var restaurant_id = "<%= current_user.owns_restaurants.id %>";
        var current_design_id = "<%= current_user.owns_restaurants.design.id %>";
        var current_font_id = "<%= current_user.owns_restaurants.font.id %>";

    ko.bindingHandlers.iFrame = {
        update: function (element, valueAccessor) {
            var value = valueAccessor();

            var html = "<!DOCTYPE html>\n<html>\n<head>\nFONT_LINK_DATA\n</head>\n<body>\n<style>\nCSS_DATA_HERE\n</style>\n<h1>Example Header</h1>\n<h3>Sub Header</h3>\n<p>Paragraph style example. This is how the main text would always look throughout your site.</p>\n</body>\n</html>";

            var html_result = html.replace("FONT_LINK_DATA",value().link_data());
            html_result = html_result.replace("CSS_DATA_HERE",value().css());

            $(element).contents().find("html").html(html_result);
        }
    };           

        function viewModel() {
            var self = this;
            self.designs = ko.observableArray([]);
            self.fonts = ko.observableArray([]);
            self.current_design = ko.observable();
            self.current_font = ko.observable();

            _.each(design_data, function(item) { 
              var des = new Design(item);
              if(des.id() == current_design_id){
                self.current_design(des);
              }
              self.designs.push(des);
            });  

            _.each(font_data, function(item) { 
              var font = new Font(item);
              if(font.id() == self.current_font_id){
                self.current_font(font);
              }
              self.fonts.push(font);
            });                                         

            self.setDesign = function(item){
                self.current_design(item);
            }

            self.submitDesign = function(){
                $.ajax({
                  type: "POST",
                  url: "/app/website/submit_design",
                  data: {
                    restaurant_id: restaurant_id,
                    font_id: self.current_font().id(),
                    data: ko.toJSON(self.current_design)
                  },
                    success: function(data, textStatus, jqXHR){
                        console.log(data);
                        bootbox.alert("Design set! Preview <a href=\"" + data.preview + "\" target=\"_blank\">here</a>");     
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        console.log("There was an error setting design: " + errorThrown);
                    },
                    dataType: "json"
                });
            }            
        };

        var viewmodel = new viewModel();
        ko.applyBindings(viewmodel);


    //]]>  
    </script>    

</div>