<div class="container">

    <div class="row">
        <div class="col-md-8">
        <ul class="nav nav-pills" data-bind="foreach: $__page__.children">
            <li data-bind="css: {active: isVisible}"><a data-bind="text: $data.val('title'), page-href: $data"></a></li>
        </ul>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success btn-lg col-xs-12" data-bind="click: $root.submitDesign">Save <span class="glyphicon glyphicon-floppy-disk"></span></button>
        </div>
    </div>    

    <div data-bind="page: {id: 'start', title: 'Design'}" class="website_pages">
        <div class="row">
            <div class="col-xs-12">
                <h3>Select a design: </h3>
                <div data-bind="template: { name: 'pick_design_template', foreach: designs }"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="website_line">
                            <button class="btn btn-primary pull-left col-xs-4" data-bind="click: function(){ $root.previousPage($page) }, visible: $root.visiblePrevious($page)"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
                        <button class="btn btn-primary pull-right col-xs-4" data-bind="click: function(){ $root.nextPage($page) }, visible: $root.visibleNext($page)">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </div>              
            </div>
        </div>
    </div>

    <!-- ko if: current_design -->
        <div data-bind="page: {id: 'image_page', title: 'Images', with: current_design}" class="website_pages">
            <div class="row">
                <div class="col-xs-12">
                    <div data-bind="template: { name: 'customize_design_template', data: $root.current_design }"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="website_line">
                            <button class="btn btn-primary pull-left col-xs-4" data-bind="click: function(){ $root.previousPage($page) }, visible: $root.visiblePrevious($page)"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>    
                            <button class="btn btn-primary pull-right col-xs-4" data-bind="click: function(){ $root.nextPage($page) }, visible: $root.visibleNext($page)">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>

        <div data-bind="page: {id: 'font', title: 'Font', with: $root}" class="website_pages">
            <div class="row">
                <div class="col-xs-12">
                    <div data-bind="template: { name: 'customize_font_template', data: $root }"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="website_line">
                            <button class="btn btn-primary pull-left col-xs-4" data-bind="click: function(){ $root.previousPage($page) }, visible: $root.visiblePrevious($page)"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>    
                            <button class="btn btn-primary pull-right col-xs-4" data-bind="click: function(){ $root.nextPage($page) }, visible: $root.visibleNext($page)">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>

        <div data-bind="page: {id: 'carousel', title: 'Background Carousel', with: current_design}" class="website_pages">
            <div class="row">
                <div class="col-xs-12">
                    <div data-bind="template: { name: 'customize_carousel_template', data: $root.current_design }"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="website_line">
                            <button class="btn btn-primary pull-left col-xs-4" data-bind="click: function(){ $root.previousPage($page) }, visible: $root.visiblePrevious($page)"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>    
                            <button class="btn btn-primary pull-right col-xs-4" data-bind="click: function(){ $root.nextPage($page) }, visible: $root.visibleNext($page)">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>

        <div data-bind="page: {id: 'content', title: 'Text Content'}" class="website_pages">
            <div class="row">
                <div class="col-xs-12">
                    <div data-bind="template: { name: 'text_content_template', data: $root.restaurant }"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="website_line">
                            <button class="btn btn-primary pull-left col-xs-4" data-bind="click: function(){ $root.previousPage($page) }, visible: $root.visiblePrevious($page)"><span class="glyphicon glyphicon-chevron-left"></span> Previous</button>    
                            <button class="btn btn-primary pull-right col-xs-4" data-bind="click: function(){ $root.nextPage($page) }, visible: $root.visibleNext($page)">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>

    <!-- /ko -->
      
    <%= javascript_include_tag "menu_editor" %>
    <%= render 'shared/restaurant_template' %>
    <%= render 'shared/custom_design_template' %>
    <%= render 'shared/design_javascript' %>
    <%= render 'shared/font_javascript' %>
    <%= render 'shared/restaurant_javascript' %>

    <script type='text/javascript'>//<![CDATA[ 

        var design_data = <%= raw(@designs.to_json) %>;
        var font_data = <%= raw(@fonts.to_json) %>;
        var restaurant_id = "<%= current_user.owns_restaurants.id %>";
        var current_design_id = "<%= @design_id %>";
        var current_font_id = "<%= @font_id %>";     
        var resto_data = <%= raw(current_user.owns_restaurants.as_json.to_json) %>;


        ko.bindingHandlers.iFrame = {
            update: function (element, valueAccessor) {
                var value = valueAccessor();

                var html = "<!DOCTYPE html>\n<html>\n<head>\nFONT_LINK_DATA\n<style>html{ overflow: hidden; }</style></head>\n<body>\n<style>\nCSS_DATA_HERE\n</style>\n<h1>Example Header</h1>\n<h3>Sub Header</h3>\n<p>Paragraph style example. This is how the main text would always look throughout your site.</p>\n</body>\n</html>";

                var html_result = html.replace("FONT_LINK_DATA",value.link_data());
                html_result = html_result.replace("CSS_DATA_HERE",value.css());

                $(element).contents().find("html").html(html_result);
            }
        };              

        function viewModel() {
            var self = this;
            self.designs = ko.observableArray([]);
            self.fonts = ko.observableArray([]);
            self.current_design = ko.observable();
            self.current_font = ko.observable();
            self.languages = ko.observableArray(['en','fr']);
            self.restaurant = ko.observable(new Restaurant(resto_data));
            self.lang = ko.observable('en');

            _.each(design_data, function(item) { 
              var des = new Design(item);
              if(des.id() == current_design_id){
                self.current_design(des);
              }
              self.designs.push(des);
            });  

            _.each(font_data, function(item) { 
              var font = new Font(item);
              if(font.id() == self.current_font_id){
                self.current_font(font);
              }
              self.fonts.push(font);
            });                                         

            self.setDesign = function(item){
                self.current_design(item);
            }

            self.setFont = function(item){
                self.current_font(item);
            }        

            self.indexOfCurrentPage = function(page) {
               return page.parentPage.children.indexOf(page);
            };

            self.nextPage = function(page) {      
                pager.goTo(page.parentPage.children()[self.indexOfCurrentPage(page) + 1].path());
            };

            self.previousPage = function(page) {      
                pager.goTo(page.parentPage.children()[self.indexOfCurrentPage(page) - 1].path());
            };     

            self.visiblePrevious = function(page) {      
                return ko.computed(function(){ 
                    if (page.parentPage.children()[self.indexOfCurrentPage(page) - 1]){
                        return true;
                    } else {
                        return false;
                    }
                });
            };  

            self.visibleNext = function(page) {      
                return ko.computed(function(){ 
                    if (page.parentPage.children()[self.indexOfCurrentPage(page) + 1]){
                        return true;
                    } else {
                        return false;
                    }
                });
            };                             

            self.submitDesign = function(){
                $.ajax({
                  type: "POST",
                  url: "/app/website/submit_design",
                  data: {
                    restaurant_id: restaurant_id,
                    font_id: self.current_font().id(),
                    data: ko.toJSON(self.current_design),
                    restaurant_data: ko.toJSON(self.restaurant)
                  },
                    success: function(data, textStatus, jqXHR){
                        console.log(data);
                        bootbox.alert("Design set! Preview <a href=\"" + data.preview + "\" target=\"_blank\">here</a>");     
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        console.log("There was an error setting design: " + errorThrown);
                    },
                    dataType: "json"
                });
            }  

            self.original_data = ko.toJSON(self.current_design);
            $(window).on('beforeunload', function () {
                if (self.original_data != ko.toJSON(self.current_design)) {
                    return 'You haven\'t saved your changes.';
                }
            });                  
        };

        var viewmodel = new viewModel();            

        $(function(){   
            pager.Href.hash = '#!/';
            pager.extendWithPage(viewmodel);
            ko.applyBindings(viewmodel);                    
            pager.start();        
        });


    //]]>  
    </script>    

</div>