<!DOCTYPE html>
<html>
<head>
	<title>DishGo</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>	
    <%= javascript_include_tag "menu_editor" %>	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style>
	body {
	  padding-top: 30px;
	  background-color: #373737;
	}
</style>

<body>
	<%= render 'shared/nav_bar' %>		
	<%=  yield %>
</body>
</html>
