<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <title></title>
 
	    <%= raw(@font_link_data) %>

		<%= stylesheet_link_tag    "online_site" %>
		<%= stylesheet_link_tag    "website" %>

		<style type="text/css">
		    body {
		        background-image: url("https://dishgo.io/app/public/img/sign_up.jpg");
		        background-attachment: fixed;
		        background-position: top left;
		        -webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;   
		    }
		</style>

		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmVdO0hER_qFFNZN5C9Du28_-sSblng0Y&sensor=true"></script>	
		<!--[if lt IE 9]>
			<script src="https://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
			<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />		
	</head>
    <body>

		<div data-bind="with: current_design">
			<style data-bind="html: css"></style>		  	
			<style data-bind="html: menu_css"></style>
			<!-- ko foreach: global_images -->
				<div data-bind="with: defaultImage">
					<div data-bind="text: id" style="display:none"></div>
					<style data-bind="html: css"></style>
				</div>
			<!-- /ko -->			
		</div>

		<div data-bind="with: current_font">
			<link data-bind="attr:{href:link_data_clean}" rel="stylesheet" type="text/css" />
			<style data-bind="html: css"></style>
		</div>	

		<div class="overlay"></div>  
		<nav id="navigation_small" class="nav">

		</nav>			  	
		<div id="left_menu">
			<div class="restaurant_name" data-bind="with: restaurant">
			  <div class="logo" data-bind="text: name"></div>
			</div>
			<nav id="navigation" class="nav">
				<ul>
					<li><a data-bind="page-href: 'start', lText: layout_tr">Layout</a></li>
					<li><a data-bind="page-href: 'pages', lText: pages_tr">Text</a></li>
				</ul>
			</nav>	
			<div id="social_media" class="social_media" data-bind="with: restaurant">
				<a data-bind="visible: socialVisible('facebook'), attr:{href: facebook}"><i class="fa fa-facebook-square"></i></a>
				<a data-bind="visible: socialVisible('twitter'), attr:{href: twitter}"><i class="fa fa-twitter-square"></i></a>			
				<a data-bind="visible: socialVisible('instagram'), attr:{href: instagram}"><i class="fa fa-instagram"></i></a>
			</div>
			<div class="main_page_language_selector">

			</div>
			<div data-bind="style:{backgroundImage: $root.computeImage('header_background_pattern')}" class="pattern_background"></div>					
		</div>

		<div id="footer">
			<div id="social_media_footer" class="social_media" data-bind="with: restaurant">
				<a data-bind="visible: socialVisible('facebook'), attr:{href: facebook}"><i class="fa fa-facebook-square"></i></a>
				<a data-bind="visible: socialVisible('twitter'), attr:{href: twitter}"><i class="fa fa-twitter-square"></i></a>			
				<a data-bind="visible: socialVisible('instagram'), attr:{href: instagram}"><i class="fa fa-instagram"></i></a>
			</div>	
			<div data-bind="style:{backgroundImage: $root.computeImage('header_background_pattern')}" class="pattern_background"></div>				
		</div>

		<div class="save_website_button">
			<div class="col-xs-6">
				<a href="/app" class="coo_button lightText square red col-xs-12" style="text-decoration: none" data-bind="click: function(){ skip_check = true; window.location.href = "/app"}">Cancel <i class="glyphicon glyphicon-remove"></i></a>
			</div>
			<div class="col-xs-6">
			    <button class="coo_button lightText square green col-xs-12" data-bind="click: $root.submitDesign">Save <span class="glyphicon glyphicon-ok"></span></button>
			</div>
		</div>

		<div data-bind="page: {id: 'start', title: 'Layout'}">
			<%= yield %>
		</div>	

		<div data-bind="page: {id: 'pages', title: 'Text Editor'}">
			<%= render 'pages' %>
		</div>	

	    <%= javascript_include_tag "menu_editor" %>
	    <%= javascript_include_tag "wysiwyg" %>
	    <%= render 'shared/restaurant_template' %>
	    <%= render 'shared/custom_design_template' %>
	    <%= render 'shared/design_javascript' %>
	    <%= render 'shared/font_javascript' %>
	    <%= render 'shared/restaurant_javascript' %>

	    <%= render 'website_javascript_ignition' %>

    </body>

</html>
