<!DOCTYPE html>
<html>
<head>
	<title>DishGo</title>
	<%= stylesheet_link_tag    "prizes_list", :media => "all" %>
    <%= javascript_include_tag "prize_page.js" %>	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700,300' rel='stylesheet' type='text/css'>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId      : <%= Rails.env.development? ? '886480311381787' : '886479778048507' %>,
					xfbml      : true,
					version    : 'v2.0'
				});
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script> 
</head>

<style>
	body {
	  margin-top: 0px;
	  padding-top: 18px;
	  background: #373737;
	}
</style>

<body>
	<%=  yield %>
</body>
</html>
