<!DOCTYPE html>
<html>
<head>
	<title>DishGo</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "menu-builder" %>
	<%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
	body {
	  min-height: 2000px;
	  padding-top: 30px;
	}

	<%= raw(@design_css) %>

</style>

<body>	
	<div class="container">	
		<%=  yield %>
	</div>
</body>
</html>
