<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Win Gift Certificates</title>
		<meta name="description" content="I just won a <%= percent_or_dollar(@prize) %> gift certificate at <%= @restaurant.name %> with DishGo. Download the app and use my promo code <%= @user.promo_code %> to start winning!">
		<meta property="fb:app_id"          content="<%= Rails.env.development? ? '886480311381787' : '886479778048507' %>" />
		<meta property="og:type"            content="article" />
		<meta property="og:url"             content="https://dishgo.io/app/network/prize/<%= @individual_prize.id %>" />
		<meta property="og:title"           content="<%= percent_or_dollar(@prize) %> gift certificate at <%= @restaurant.name %>" />	
		<meta property="og:image"           content="https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/facebook_share.png" />
	</head>
    <body>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-48865823-3', 'auto');
			ga('send', 'pageview');

		      window.fbAsyncInit = function() {
		        FB.init({
		          appId      : <%= Rails.env.development? ? '886480311381787' : '886479778048507' %>,
		          xfbml      : true,
		          version    : 'v2.0'
		        });
		      };

		      (function(d, s, id){
		         var js, fjs = d.getElementsByTagName(s)[0];
		         if (d.getElementById(id)) {return;}
		         js = d.createElement(s); js.id = id;
		         js.src = "//connect.facebook.net/en_US/sdk.js";
		         fjs.parentNode.insertBefore(js, fjs);
		       }(document, 'script', 'facebook-jssdk'));

				var user_data = <%= current_user ? raw(current_user.serializable_hash({restaurant:true}).to_json) : {}%>;

		</script> 		 	

		<%= render 'network_header' %>

		<%= render 'network_sign_in' %>      	 

		<div data-bind="loggedInChecker: loggedIn">
			<%= yield %>
		</div>
    								    	
    </body>
</html>
