<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<% if controller_name == "network" && action_name == "restaurant" %>
			<%= render 'restaurant_meta' %>
		<% else %>
			<%= render 'index_meta' %>
		<% end %>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" />
		<meta name="fragment" content="!" />
		<meta name="format-detection" content="telephone=no">
  		<meta name="apple-itunes-app" content="app-id=879213213">
  		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->

		<!--[if lt IE 9]>
			<script src="https://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
			<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	
	</head>
    <body>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-48865823-3', 'auto');
			ga('send', 'pageview');

		      window.fbAsyncInit = function() {
		        FB.init({
		          appId      : <%= Rails.env.development? ? '886480311381787' : '886479778048507' %>,
		          xfbml      : true,
		          version    : 'v2.0'
		        });
		      };

		      (function(d, s, id){
		         var js, fjs = d.getElementsByTagName(s)[0];
		         if (d.getElementById(id)) {return;}
		         js = d.createElement(s); js.id = id;
		         js.src = "//connect.facebook.net/en_US/sdk.js";
		         fjs.parentNode.insertBefore(js, fjs);
		       }(document, 'script', 'facebook-jssdk'));

				var user_data = <%= current_user ? raw(current_user.serializable_hash({restaurant:true}).to_json) : {}%>;

		</script> 		 	

		<% if controller_name == "network" && action_name == "restaurant" %>
			<style type="text/css">
				<%= raw(Rails.application.assets.find_asset('network_loading').to_s) %>
			</style>		
			<div data-bind="fadeVisible: false">
				<div class="loading-bg"></div>
				<div class="center">
					<div class="loading">
						<img src="https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/DishGo_Logo_Network_Beta.png" class="loading-logo">
						<div class="centered bouncywrap">
							<div class="dotcon dc1">
								<div class="dot"></div>
							</div>
							<div class="dotcon dc2">
								<div class="dot"></div>
							</div>
							<div class="dotcon dc3">
								<div class="dot"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	    <div data-bind="visible: network_sign_in" style="display:none">
	        <div id="sign_in_bg" data-bind="click: function(){ network_sign_in(false) }"></div>
	        <div id="sign_in_modal">
	        	<a class="close" data-bind="click: function(){ network_sign_in(false) }">×</a>	        	
	         	<div id="sign_in">
		            <div class="row">
		                <div class="col-xs-12 text-center">
		                	<h3 style="margin-top: 0px" data-bind="visible: !loggedIn(), localize">User Sign In</h3>
		                	<h3 style="margin-top: 0px" data-bind="visible: loggedIn, localize">Connected Accounts</h3>
		                	<!-- ko foreach: social_networks -->
		                		<span class="btn btn-none social_network_button" data-bind="click: function(){ login(); }, css: {online:online}"><i class="fa" data-bind="css:'fa-'+name"></i></span>
		                	<!-- /ko -->
		                </div>                
		            </div>

		            <!-- if the user is not logged in, show them this -->
		            <div class="row" data-bind="visible: !loggedInWithRestaurant()">
		                <div class="col-xs-12 text-center">
		                	<h3 data-bind="localize">Restaurant Sign In</h3>
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<input type="email" class="form-control" data-bind="value: email" placeholder="Email">
								</div>
							</div>
							<div class="row" style="margin-top:5px;">
								<div class="col-sm-10 col-sm-offset-1">
									<input type="password" class="form-control" data-bind="value: password" placeholder="Password">
								</div>
							</div>
							<div class="row" style="margin-top:5px;">
								<div class="col-sm-10 col-sm-offset-1">
									<button class="btn btn-none" style="width: 100%; background-color:#cf2f28; color:#fff;" data-bind="click: signInWithUserPass"><span data-bind="localize">Submit</span><i class="fa fa-spinner fa-spin pull-right" data-bind="visible: signInSpin"></i></button>
								</div>
							</div>							
		                </div>                
		            </div>

		            <!-- if the user is logged in, show them this -->
		            <div class="row" data-bind="visible: loggedInWithRestaurant">
		                <div class="col-xs-12 text-center">
		                	<h3 data-bind="localize">Restaurant Dashboard</h3>
							<div class="row" style="margin-top:5px;">
								<div class="col-sm-10 col-sm-offset-1">
									<a class="btn btn-none" style="width: 100%; background-color:#cf2f28; color:#fff;" href="/app/administration" data-bind="localize">Dashboard</a>
								</div>
							</div>							
		                </div>                
		            </div>		                                    
	          	</div>
	        </div>
	    </div>       	

    	<div data-bind="visible: true" style="display: none">
			<div class="network_header">
				<!-- MOBILE -->
				<!-- ko if: isMobile -->
				<div class="container" data-bind="if: isMobile">
					<div id="login_buttons">
						<ul>
							<li><span class="btn btn-none" style="margin-right:-3px;" data-bind="click: function(){ $root.network_sign_in(true); }, localize: login_text">Log In</span></li>
			            	<li><a href="/app/letsdishgo" class="sign_up_button btn btn-search" data-bind="localize">Get Listed</a></li>
			            	<li><span class="btn btn-none" data-bind="text: language, click: flip_language">Français</span></li>
						</ul>
					</div>
				</div>
				<!-- /ko -->	

				<!-- DESKTOP -->
				<!-- ko if: !isMobile -->
				<div class="container" id="main_head">
					<div id="logo" data-bind="visible: !top_search()">
						<a href="/app/network">
							<img src="https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/DishGo_Logo_Network_Beta.png" class="img-responsive">
						</a>
					</div>

					<div class="form-inline form" data-bind="visible: top_search" style="display: none">
						<div class="form-group">
							<div class="controls">
								<div class="input-group input-group-lg">
									<div class="input-group-addon searchSelectorContainer">
										<span class="dropdown-toggle searchDropdownSelector" data-toggle="dropdown"><span class="caret"></span></span>
										<ul class="dropdown-menu" role="menu" style="text-align:left;">
											<li><a href="#" data-bind="click: function(){ $root.search_type('dish') }, localize">Dish</a></li>
											<li><a href="#" data-bind="click: function(){ $root.search_type('restaurant') }, localize">Restaurant Name</a></li>
										</ul>
									</div>	
									<input type="text" placeholder="Restaurant Name" class="form-control" data-bind="hasFocus: top_search, value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
									<span class="input-group-btn">
										<span class="btn btn-lg btn-search search_button" data-bind="disable: searching, click: function(){ $root.ajax_search(); }"><i class="fa fa-spinner fa-spin fade_visible" data-bind="visible: searching"></i><span class="fade_visible" data-bind="visible: !searching()"><i class="fa fa-search"></i></span></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				
					<div id="login_buttons">
						<ul>
							<li><span class="btn btn-none" style="margin-right:-3px;" data-bind="click: function(){ $root.network_sign_in(true); }, localize: login_text">Log In</span></li>
			            	<li><a href="/app/letsdishgo" class="sign_up_button btn btn-search" data-bind="localize">Get Listed</a></li>
			            	<li><span class="btn btn-none" data-bind="text: language, click: flip_language">Français</span></li>
						</ul>
					</div>
				</div>
				<!-- /ko -->	
			</div>    

			<div data-bind="loggedInChecker: loggedIn">
    			<%= yield %>
    		</div>
    		
			<footer>
			    <div class="container">
			        <div class="row">
			            <div class="col-sm-20">
			                <a class="twocolors" href="https://dishgo.io/business/index.html"><span class="white">Dish</span><span class="red">Go </span><span class="white" data-bind="localize">App</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="/app/letsdishgo" data-bind="localize">Get Listed</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="https://dishgo.io/business/restaurant-website-builder.html" data-bind="localize">Web Design</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="https://dishgo.io/blog/" data-bind="localize">Blog</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="https://dishgo.io" data-bind="localize">Sign Up</a>
			            </div>
			        </div>	
			        <div class="row">
			            <div class="col-sm-6 col-sm-offset-3">
			                <div class="row social_media">
			                    <div class="col-xs-4">
			                        <a href="https://www.facebook.com/DishGoInc" target="_data"><i class="fa fa-facebook"></i></a>
			                    </div>
			                    <div class="col-xs-4">
			                        <a href="https://www.twitter.com/dishgo" target="_data"><i class="fa fa-twitter"></i></a>
			                    </div>
			                    <div class="col-xs-4">
			                        <a href="https://instagram.com/dishgo" target="_data"><i class="fa fa-instagram"></i></a>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			    <div class="letsdishgo-bottom">
			        <ul>
			            <li class="first">
			                <a href="https://dishgo.io/privacy-policy.html" target="_blank">Legal</a>
			            </li>
			            <li>
			                <a href="mailto:info@dishgo.io" data-bind="localize">Contact Us</a>
			            </li>
			            <li class="last">
			                <a href="https://dishgo.io">©DishGo</a>
			            </li>
			        </ul>
			    </div>
			</footer>    		
    	</div>
    								    	
    </body>
</html>
