<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= first_non_empty(@dish.name_translations) %></title>
		<meta name="description" content="<%= first_non_empty(@dish.name_translations) %> served at <%= @restaurant.name %>.">
		<meta property="fb:app_id"          content="886479778048507" />
		<meta property="og:type"            content="restaurant.menu_item" />
		<meta property="og:url"             content="https://dishgo.io/app/network/dish/<%= @dish.id %>" />
		<meta property="og:title"           content="<%= first_non_empty(@dish.name_translations) %>" />
		<meta property="restaurant:section"	content="<%= first_non_empty(@dish.section.name_translations) %>" /> 		
    <% if @dish.top_image %>
		<meta property="og:image"           content="<%= @dish.top_image %>" />
    <% elsif @restaurant.logo %>
		<meta property="og:image"           content="<%= @restaurant.logo.img_url_original %>" />
	<% end %>
	</head>
    <body>
    								    	
    </body>
</html>
