<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= @resto_data['name'] %></title>
		<meta name="description" content="Official Homepage of <%= @resto_data['name'] %>.">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" />
		<meta name="fragment" content="!" />
		<meta name="format-detection" content="telephone=no">
		<% if @resto_data["show_app_install"].to_bool %>
  			<meta name="apple-itunes-app" content="app-id=879213213">
  		<% end %>

		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
		<script type="text/javascript"> 
			var $buoop = {vs:{i:9,f:15,o:15,s:5.1,n:9}}; 
			$buoop.ol = window.onload; 
			window.onload=function(){ 
				 try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
				 var e = document.createElement("script"); 
				 e.setAttribute("type", "text/javascript"); 
				 e.setAttribute("src", "//browser-update.org/update.js"); 
				 document.body.appendChild(e); 
			} 
		</script> 
		<style type="text/css">
			<%= raw(Rails.application.assets.find_asset('loading_widget').to_s) %>
		</style>
		<!--[if lt IE 9]>
			<script src="https://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
			<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	
	</head>
    <body>

    	<div class="loading_widget" data-bind="fadeVisible: loading">
    		<div class="loading_widget_middle" style="text-align: center">
				<div class="css_spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
    			<h4>LOADING</h4>
    		</div>
    	</div>

    	<div style="display: none;" data-bind="visible: true">		  					
			<div class="overlay"></div>  
			<div class="background_mobile"></div>  
			<nav id="navigation_small" class="nav">
				<ul>
					<li class="icon" data-bind="click: display_menu_toggle"><i class="fa fa-bars"></i></li>
					<div data-bind="visible: display_menu">
						<!-- ko if: restaurant().show_menu() -->	
							<!-- ko foreach: menus -->
								<li><a data-bind="click: function() { $parent.goto_and_kill_menu(menu_id()) }, lText: name"></a></li>							
							<!-- /ko -->													
						<!-- /ko -->
						<li><a data-bind="click: function() { goto_and_kill_menu('contact') }">Contact</a></li>
						<!-- ko if: restaurant().show_gallery() -->
							<li><a data-bind="click: function() { goto_and_kill_menu('gallery') }, lText: gallery_tr"></a></li>
						<!-- /ko -->							
						<!-- ko foreach: restaurant().pages -->
							<li><a data-bind="click: function() { $parent.goto_and_kill_menu($data.page_link()) }, lText: name"></a></li>
						<!-- /ko -->					
						<div class="language_select" data-bind="foreach: languages">
							<li data-bind="css:{selected: $data === $root.lang()}, click: function(){ $root.lang($data); $root.display_menu(false) }"><a data-bind="text: $root.getFullLangName($data)"></a>
						</div>						
					</div>
				</ul>		
			</nav>			  	
			<div id="left_menu">
				<div class="restaurant_name" data-bind="with: restaurant">
					<!-- ko if: logo_settings().showLogo -->
						<img id="logo_image" data-bind="attr: {src:logo().url}, style: { 'height': logo_settings().image_height() + 'px', 'borderRadius':logo_settings().border_radius() + 'px', 'borderWidth':logo_settings().border_size() + 'px', 'borderColor': '#' + logo_settings().border_color()}" style="border-style: solid"/>
					<!-- /ko -->
					<!-- ko if: !logo_settings().showLogo() -->
						<span class="logo" data-bind="text: multi_resto_name, fitText: !logo_settings().logo_as_image"><%= @resto_data["name"] %></span>
					<!-- /ko -->					
				</div>
				<nav id="navigation" class="nav">
					<ul>
						<!-- ko foreach: restaurant().pages -->
							<li><a data-bind="page-href: $data.page_link(), lText: name"></a></li>
						<!-- /ko -->
						<!-- ko if: restaurant().show_gallery() -->
							<li><a data-bind="page-href: 'gallery', lText: gallery_tr"></a></li>
						<!-- /ko -->				
					</ul>
				</nav>	
				<div id="social_media" class="social_media" data-bind="with: restaurant">
					<a data-bind="visible: socialVisible('facebook'), attr:{href: facebook}"><i class="fa fa-facebook-square"></i></a>
					<a data-bind="visible: socialVisible('twitter'), attr:{href: twitter}"><i class="fa fa-twitter-square"></i></a>			
					<a data-bind="visible: socialVisible('instagram'), attr:{href: instagram}"><i class="fa fa-instagram"></i></a>
				</div>
				<div class="main_page_language_selector">
					<ul class="language_select">
						<!-- ko if: restaurant().show_menu() -->
							<!-- ko foreach: menus -->
								<li><a data-bind="page-href: menu_id, lText: name"></a></li>							
							<!-- /ko -->														
						<!-- /ko -->						
						<li><a alt="View our hours and find out how to get in touch." data-bind="page-href: 'contact', lText: contact_tr">Contact</a></li>					
					  	<!-- ko foreach: languages -->
					  		<li data-bind="css:{selected: $data === $root.lang()}, click: function(){ $root.lang($data) }"><span data-bind="text: $root.getFullLangName($data)"></span></li>
					  	<!-- /ko -->
					</ul>
				</div>	
				<div data-bind="style:{backgroundImage: $root.computeImage('header_background_pattern')}" class="pattern_background"></div>					
			</div>

			<div id="footer" data-bind="fadeVisible: !atTop()">	
				<div id="opened_or_closed_footer" data-bind="with: restaurant, click: function() { goto_and_kill_menu('contact') }">
					<h4 data-bind="visible: showHourSign"><span class="currently_open_tag"  data-bind="lStaticText: 'currently'"> </span><span class="currently_open" data-bind="css:{'hours_opened':areWeOpened(),'hours_closed':!areWeOpened()}, lStaticText: areWeOpenedText"></span></h4>
				</div>				
				<div id="social_media_footer" class="social_media" data-bind="with: restaurant">
					<a data-bind="visible: socialVisible('facebook'), attr:{href: facebook}"><i class="fa fa-facebook-square"></i></a>
					<a data-bind="visible: socialVisible('twitter'), attr:{href: twitter}"><i class="fa fa-twitter-square"></i></a>			
					<a data-bind="visible: socialVisible('instagram'), attr:{href: instagram}"><i class="fa fa-instagram"></i></a>
				</div>	
				<div data-bind="style:{backgroundImage: $root.computeImage('header_background_pattern')}" class="pattern_background"></div>
				<div class="powered_by_dishgo"><a href="https://dishgo.io" target="_blank" alt="This webpage was built by DishGo." id="dishgo_logo"></a></div>			
			</div>


			<!-- ko if: restaurant().show_hours -->
				<div id="opened_or_closed" data-bind="with: restaurant">
					<h4 data-bind="visible: showHourSign"><span class="currently_open_tag">currently </span><span class="currently_open" data-bind="css:{'hours_opened':areWeOpened(),'hours_closed':!areWeOpened()}, text: areWeOpenedText"></span></h4>
				</div>
			<!-- /ko -->

			<!-- ko foreach: restaurant().pages -->
				<div data-bind="page: {id: $data.page_link(), title: $root.restaurant().name()}" class="pages">
					<div class="content_wrapper">				
						<%= render 'start' %>
					</div>							
				</div>
			<!-- /ko -->

			<div data-bind="page: {id: 'contact', title: 'Contact', afterShow: function(){ ko['reloadMap'](true) }}" class="pages">				
				<%= render 'contact' %>														
			</div>

			<div data-bind="page: {id: 'gallery', title: 'Gallery', with: restaurant, afterShow: function(){ pauseCarousel(); }, afterHide: function(){ playCarousel(); }}" class="pages">				
				<%= render 'gallery' %>														
			</div>

			<!-- ko foreach: menus -->
				<div data-bind="page: {id: menu_id, title: lName, afterShow: function(){ ko['menuVisible'](true); pauseCarousel(); }, beforeHide: function(){ ko['menuVisible'](false); playCarousel(); }}" class="pages">
					<%= yield %>
				</div>
			<!-- /ko -->

		</div>

    	<script>
	        var restaurant_id = "<%= params[:restaurant_id]%>";
	        var menu_data = <%= @menu_data ? raw(@menu_data) : {} %>;
	        var design_data = <%= raw(@design_data) %>;
	        var resto_data = <%= raw(@resto_data.to_json) %>;	
	        var background_images = <%= raw(@carousel.to_json) %>;



			[
				"<%= stylesheet_path 'online_site'%>",
			].forEach(function(src) {
				var l = document.createElement('link'); 
				l.rel = 'stylesheet';
				l.href = src;
				document.head.appendChild(l);
			});

			var scripts = [
				"<%= javascript_path 'application' %>",
		    	"<%= javascript_path 'menu_editor' %>",
				"<%= javascript_path 'onlinesite_javascript' %>",
			];
			var src;
			var script;
			var pendingScripts = [];
			var firstScript = document.scripts[0];

			// Watch scripts load in IE
			function stateChange() {
			  // Execute as many scripts in order as we can
			  var pendingScript;
			  while (pendingScripts[0] && pendingScripts[0].readyState == 'loaded') {
			    pendingScript = pendingScripts.shift();
			    // avoid future loading events from this script (eg, if src changes)
			    pendingScript.onreadystatechange = null;
			    // can't just appendChild, old IE bug if element isn't closed
			    firstScript.parentNode.insertBefore(pendingScript, firstScript);
			  }
			}

			// loop through our script urls
			while (src = scripts.shift()) {
			  if ('async' in firstScript) { // modern browsers
			    script = document.createElement('script');
			    script.async = false;
			    script.src = src;
			    document.head.appendChild(script);
			  }
			  else if (firstScript.readyState) { // IE<10
			    // create a script and add it to our todo pile
			    script = document.createElement('script');
			    pendingScripts.push(script);
			    // listen for state changes
			    script.onreadystatechange = stateChange;
			    // must set src AFTER adding onreadystatechange listener
			    // else we’ll miss the loaded event for cached scripts
			    script.src = src;
			  }
			  else { // fall back to defer
			    document.write('<script src="' + src + '" defer></'+'script>');
			  }
			}			

	    </script>	

	    <%= raw(@font_link_data) %>

		<style type='text/css'>

			<%= raw(@design_css) %>
			<%= raw(@design_menu_css) %>
			<%= raw(@font_css) %>

		</style>    	
		<div data-bind="with: design">
			<!-- ko foreach: global_images -->
				<style data-bind="html: css" type='text/css'></style>
			<!-- /ko -->		  	
		</div>

		<div itemscope itemtype="http://schema.org/Organization" style="display: none"> 
			<span itemprop="name"><%= @resto_data["name"] %></span> 
			<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress"><%= @resto_data["address_line_1"] %></span>,
				<span itemprop="addressLocality"><%= @resto_data["city"] %></span>,
				<span itemprop="addressRegion"><%= @resto_data["province"] %></span>.
			</div>
			<span itemprop="telephone"><%= @resto_data["phone"] %></span>
		</div>

	<% if !@resto_data["lat"].blank? %>
		<div itemprop="location" style="display: none">
		  <span itemscope itemtype="http://schema.org/Place">
		    <div itemprop="geo">
		      <span itemscope itemtype="http://schema.org/GeoCoordinates">
		        <span property="latitude" content="<%= @resto_data['lat'] %>"></span>
		        <span property="longitude" content="<%= @resto_data['lon'] %>"></span>
		      </span>
		    </div>
		  </span>
		</div>
	<% end %>								    

		<%= render 'javascript_ignition' %>		
    </body>
</html>
